@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

h2.triggerMe mark {
	@include transition(all 1s ease-out);
	opacity: 0;
}

h2.triggeredCSS3 mark  {
	opacity: 1;
} 


h3.triggerMe mark {
	@include transition(all 1s ease-out);
	opacity: 0;
}

h3.triggeredCSS3 mark  {
	opacity: 1;
} 

p.triggerMe  {
	@include transition(all 1s ease-out);
	opacity: 0;
}

p.triggeredCSS3   {
	opacity: 1;
} 

blockquote.triggerMe  {
	@include transition(all 1s ease-out);
	opacity: 0;
}

blockquote.triggeredCSS3   {
	opacity: 1;
} 

img.triggerMe  {
	@include transition(all 1s ease-out);
	opacity: 0;
}

img.triggeredCSS3   {
	opacity: 1;
} 

.northshoreframed.triggeredCSS3 {
	///@include transition(all 2s ease-out);
	///margin-top: 0px;
}
