.carousel {
	text-align: center;
	background-color: $darkBlue;
	border-radius: $borderRadius;
}

.carousel .white-font {
	padding: 0px 20px;
}

.carousel .container {
	padding-right: 0px;
	padding-left: 0px;
}

.sample-projects {
	margin: 50px 0px;
}

.center-project {
	margin: 0px 25px;
	@include breakpoint(normal-screen) {
		margin: 0px 50px;
	}
}

.sample-projects {
	@include breakpoint(normal-screen) {
		width: 100%;
	}
}

.project {
	width: 350px;
	background-color: $white;
	background-clip: padding-box;
	background-repeat: no-repeat;
	border-radius: $borderRadius $borderRadius 0px 0px;
	///border-bottom: 40px dotted $white;
	@include breakpoint(normal-screen) {
		width: 30%;
		max-width: 30%;
	}
}


.project p {
	text-align: left;
	font-size: 85%;
	margin-top: 5px;
	margin-bottom: 25px;
	padding: 5px 25px 10px 25px;
}

.projectImage {
	width: 100%;
	height: 250px;
	z-index: 100;
	background-size:cover;
    background-position: center center;
    border-radius: $borderRadius $borderRadius 0 0 ;
}

.carousel h4 {
	margin-top: 20px;
	margin-bottom: 15px;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -40px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 20px 0px 0px 0px;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .75;
    color: $lightBlue;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
	opacity: 1;
    color: $white;
}


