.center_list {
	text-align: center;
	overflow: hidden;
	border-radius: $borderRadius;
}

.center_list p {
	text-align: left;
}

.grey_list {
	background-color: $lightGrey;	
}

.blue_list {
	font-color: $white;
	background-color: $darkBlue;
}

.center_list ul {
	@include flex();
	flex-direction: row;
	list-style-type: none;
	flex-wrap: wrap;
}

.center_list li {
	width: 30%;
	margin: 50px 1.5%;
}

.center_list p {
	@include breakpoint(condensed-screen) {
		width: 75%;
		padding: 0px 12%;
    }
}

.shield {
	height: 140px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.grey_list .shield {
	background-image: url("/images/grey_shield.png");
}

.blue_list .shield {
	background-image: url("/images/blue_shield.png");
}


/* --------------- LIST ITEM, NAME, DESCRIPTION ---------------*/

.list_item {
	text-align: center;
}

.list_item img {

}

.list_item strong {
	display: block;
	margin: 25px 0px 10px 0px;
	@include boldFontStack();
}

.list_item span {
	display: block;
	@include altProseStack();
	text-align: left;
	font-size: 90%;
}

/* --------------- CUSTOM ICONS ---------------*/

.shield::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 175px;
}

.teacher::before {
    content: url("/images/icons/icon_teacher.png");
}

.piggy::before {
    content: url("/images/icons/icon_piggy.png");
}

.programming::before {
    content: url("/images/icons/icon_graduate.png");
}

.megaphone::before {
    content: url("/images/icons/icon_megaphone.png");
}

.school::before {
    content: url("/images/icons/icon_school.png");
}