.center_list {
	text-align: center;
	overflow: hidden;
	border-radius: $borderRadius;
}

.center_list p {
	text-align: left;
}

.grey_list {
	background-color: $lightGrey;	
}

.grey_list strong {
	color: $darkBlue;
}

.blue_list {
	color: $white;
	background-color: $darkBlue;
}

.blue_list h3 {
	color: $white;
}

.center_list ul {
	@include flex();
	flex-direction: column;
	list-style-type: none;
	flex-wrap: wrap;
	padding-left: 0px;

	@include breakpoint(condensed-screen) {
		flex-direction: row;
	}
}

.center_list li:nth-child(2) {
	margin: 10px 0px;
	@include breakpoint(condensed-screen) {
		margin: 50px 5%;
	}
}

.center_list li {
	 @extend %clearfix;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	@include breakpoint(condensed-screen) {
		width: 30%;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.center_list p {
	@include breakpoint(condensed-screen) {
		///width: 100%;
		///padding: 0px 12%;
    }
}

.shield {
	height: 140px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	float: left;
	width: 25%;
	margin-right: 20px;
	@include breakpoint(condensed-screen) {
		width: 100%;
		float: none;
		margin-right: 0px;
	}
}

.grey_list .shield {
	background-image: url("/images/grey_shield.png");
}

.blue_list .shield {
	background-image: url("/images/blue_shield.png");
}


/* --------------- LIST ITEM, NAME, DESCRIPTION ---------------*/

.list_item {
	text-align: center;
}

.list_item img {

}

.list_item strong {
	display: block;
	margin: 25px 0px 10px 0px;
	@include boldFontStack();
	padding-top: 5px;
}

.list_item span {
	display: block;
	@include altProseStack();
	text-align: left;
	///font-size: 90%;
}

/* --------------- PTA ---------------*/

.ptaprograms {

}

.pta li {
	background-color: $white;
	padding: 2% 4%;
	width: 92%;
	border-radius: $borderRadius;
	///border: 3px solid $grey;
	@include breakpoint(condensed-screen) {
		width: 23.5%;
		padding: 50px 4%;
	}
}

.pta li:nth-child(2) {
	@include breakpoint(condensed-screen) {
		margin: 50px 2%;
	}
}

/* --------------- VOLUNTEER WAYS ---------------*/

.ways p {
	text-align: center;
}

/* --------------- CUSTOM ICONS ---------------*/

.shield::before {
    display: inline-block;
    vertical-align: middle;
    line-height: 175px;
}

.teacher::before {
    content: url("/images/icons/icon_teacher.png");
}

.piggy::before {
    content: url("/images/icons/icon_piggy.png");
}

.programming::before {
    content: url("/images/icons/icon_graduate.png");
}

.graduate::before {
    content: url("/images/icons/icon_whitecap.png");
}

.sustain::before {
    content: url("/images/icons/icon_sustain.png");
}

.community::before {
    content: url("/images/icons/icon_community.png");
}

.megaphone::before {
    content: url("/images/icons/icon_megaphone.png");
}

.school::before {
    content: url("/images/icons/icon_school.png");
}

.network::before {
    content: url("/images/icons/icon_network.png");
}

.tools::before {
    content: url("/images/icons/icon_tools.png");
}