/*----------------------- Misc ------------------------------ */

$maxWidth: 1200px;

/*----------------------- Colors ------------------------------ */

$darkGrey: #313131;

$lightGrey: #F4F4F4;

$white: #fff;

$lightYellow: #FAE18B;

$paleYellow: #FCF3CB;

$darkYellow: #EAAB22;

$orange: #E95328;

$green: #BDA857;

$purple: #816C93;

$blue: #91C0C7;
