.faq a.question {
	color: $white;
	display: block;
	margin: 50px 0px -20px 0px;
	@include altProseStack();
	font-size: 100%;
	background-color: $darkBlue;
	border-radius: $borderRadius;
	padding: 20px 100px 20px 25px;
	text-decoration: none;
	position: relative;
}

.alt.faq a.question {
	background-color: $lightBlue;
	color: $darkBlue;
}

.arrow-down {
  &::after {
    content: '\25bc';
    padding-left: 0.5em;
    position: absolute;
    right: 25px;
    top: 50%;
	transform: translateY(-50%);
	color: $white;
  }
}

.arrow-right {
  &::after {
    content: '\25ba';
    padding-left: 0.5em;
    position: absolute;
    right: 25px;
    top: 50%;
	transform: translateY(-50%);
	@include transition(all 0.3s ease-out);
	color: $blue;
  }
}

.alt .arrow-down {
	&::after {
		color: $darkBlue !important; 
	}
}

.alt h3 {
	color: $white;
}

.alt .answer {
	color: $white;
	margin-top: 50px;
}

.faq .toc {
	@include flex();
	flex-direction: row;
	align-items: flex-start;
}

.faq ul {
	@extend %clearfix;
	list-style: none;
	@include flex();
	flex-direction: column !important;
	flex-wrap: wrap;
	width: 50% !important;
	padding-left: 0px;
	text-align: left;
}

.faq li {
	border-radius: $borderRadius;
	///border: 3px solid $grey;
	padding: 10px 20px;
	margin: 10px 20px;
	background-color: $lightGrey;
	@include altProseStack();
}

.hide {
	display: none;
}