.footer {
	background-color: $black;
	margin-bottom: 0px !important;
	border-radius: $borderRadius;
}

.footer .container {
	margin-top: 50px;
	margin-bottom: 50px;
	@include flex();
	flex-direction: column;
	@include breakpoint(normal-screen) {
		flex-direction: row;
    	align-items: stretch;
 		display: flex;
 		margin-top: $moduleMargin;
		margin-bottom: $moduleMargin;
    }
}

.footer form {
	width: 100%;
	@include breakpoint(normal-screen) {
        width: 80%;
        margin-right: 50px;
    }
    text-align: center;
}

.footer h3 {
    color: $white;
}

.details {
	width: 100%;
	align-self: flex-end;
	text-align: center;
	margin-top: 50px;
	@include breakpoint(normal-screen) {
		margin-top: none;
		width: 50%;
    }
}

.details img {
	border-radius: $borderRadius;
	border: 5px dashed $blue;
	background-color: $lightBlue;
	float: right;
	width: 33%;
	margin-left: 20px;
	@include breakpoint(normal-screen) {
		width: auto;
		float: none;
		margin-bottom: 50px;
    }
}

.contact {
	color: $white;
	text-align: right;
	@include proseFontStack();
	@include breakpoint(normal-screen) {
		margin-bottom: 125px;
	}
    
}

.contact strong {
	display: block;
	font-size: 70%;
	@include breakpoint(normal-screen) {
		font-size: inherit;
	}
}

.contact span {
	display: block;
	font-size: 70%;
	@include breakpoint(normal-screen) {
		font-size: inherit;
	}
}

.address {
	margin-top: 25px;
}

.nonprofit {
	color: $lightBlue;
}


.sitecontent {
	@include flex();
	flex-direction: column;
	justify-content: center;
	background-color: $white;
	@include breakpoint(normal-screen) {
		flex-direction: row;
	}
	margin-bottom: 0px !important;
}

.listcontent {
	@include flex();
	flex-direction: column;
	justify-content: center;
	background-color: $lightGrey;
	border-radius: $borderRadius;
	width: 100%;
	padding: 25px 0px;
	@include breakpoint(tablet-screen) {
		justify-content: space-evenly;
		flex-direction: row;
		width: 100%;
		padding: 75px 0px;
	}
	@include breakpoint(normal-screen) {
		width: 80%;
	}
	@include breakpoint(large-screen) {
		width: 75%;
	}
}

.sitecontent .logo {
	display: none;
	width: 25%;
	background-image: url('/images/uneditable/fnselogo.png');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
   
	margin: 0 auto;
	margin-bottom: 35px;
	@include breakpoint(normal-screen) {
		background-size: 90%;
		display: block;
		width: 20%;
	}
	@include breakpoint(large-screen) {
		background-size: auto;
		width: 25%;
	}
}

.listcontent section h4 {
	color: $darkGrey;
	width: 100%;
	text-align: center;
	@include breakpoint(tablet-screen) {
		width: auto;
		text-align: left;
		margin-top: 0px;
	}
}

.listcontent ul {
	list-style-type: none;
	margin: 15px auto;
	width: 100%;
	text-align: center;
	padding: 0px;
	@include breakpoint(tablet-screen) {
		width: auto;
		text-align: left;
	}
}

.listcontent li {
	@include altProseStack();
	margin: 10px 0px;
	@include breakpoint(tablet-screen) {
		font-size: 85%;
	}
}

.listcontent a, .nsfooter a {
	font-size: 100%;
	color: $blue;
	text-decoration: none;
	border-bottom: none;
}

.nsfooter {
	text-align: center;
	@include breakpoint(tablet-screen) {
		///padding-right: 50px;
	}
}

.nsfooter img {
	background-color: $white;
	border-radius: $borderRadius;
	padding: 25px;
	width: 100px;
	margin-top: 33px;
	@include breakpoint(tablet-screen) {
		margin-top: 0px;
	}
	@include breakpoint(normal-screen) {
		width: 125px;
	}
}

.nsfooter a {
	display: block;
}

.fnsefb img {
	height: 30px;
	margin-bottom: -7px;
	margin-left: 5px;
}

.socialicons {
	@include flex();
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 10px;
}

.socialicons img {
	background-color: none;
	padding: 0px;
	width: 30px;
}

.sitecontent a:hover {
	border-bottom: none;
	color: $darkBlue;
}

.credits {
	color: $white;
	padding: 10px;
	background-color: $blue;
	font-size: 60%;
	text-align: center;
	border-radius: $borderRadius;
	margin-top: 3px;
	@include breakpoint(normal-screen) {
		text-align: right;
		font-size: 70%;
	}
}

.credits a {
	color: $lightBlue;
}