.half_half {
	@include flex();
	flex-direction: column;
	@include breakpoint(normal-screen) {
		flex-direction: row;
    	align-items: stretch;
 		display: flex;
    }
}

.half_half .wrapper {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 50px $mobileModuleMargin;
	@include breakpoint(condensed-screen) {
		padding: $tabletModuleMargin;
	}
    @include breakpoint(normal-screen) {
    	text-align: left;
    	width: 70%;
    	margin: auto auto;
        padding: 150px 100px;
    }
    @include breakpoint(normal-screen) {
    	top: 50%;
		transform: translateY(-50%);
    }
}

.wrapper p {
	text-align: left;
}

.half_half .leftHalfContainer {
	background-color: $lightGrey;
	width: 100%;
	@include breakpoint(normal-screen) {
		background-position: top right;
		width: 50%;
		//height: 600px;
	}
	display: flex;
}

.half_half .rightHalfContainer {
	@extend %clearfix;
	width: 100%;
	@include breakpoint(normal-screen) {
		width: 50%;
		height: auto;
		max-width: 50%;
			 background-repeat: no-repeat;
		    background-position: center center;
		    background-size: cover;
	}
	display: flex;
}


.halfImage {
	width: 100%;
	height: 100%;
	border-radius: $borderRadius;
}


.half_half strong {
	color: $grey;
	display: block;
	margin: 10px 0;
	@include boldFontStack();
}

.half_half.right .rightHalfContainer {
	order: 1;
	margin-right: 3px !important;
}

.half_half.right .leftHalfContainer {
	order: 2;
	margin-right: 0px !important;
}

.schoolgrade .rightHalfContainer {
	background-size: contain;
	background-color: $lightBlue;
}

.intouch .grid {
	@include flex();
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.intouch .grid_item {
	border-radius: $borderRadius;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	margin: 1px;
	height: 33%;
	width: 33%;
}

.grid1 {
	background-image: url("/images/uneditable/grid1.jpg");
}

.grid2 {
	background-image: url("/images/uneditable/grid2.jpg");
}

.grid3 {
	background-image: url("/images/uneditable/grid3.jpg");
}

.grid4 {
	background-image: url("/images/uneditable/grid4.jpg");
}

.grid5 {
	background-image: url("/images/uneditable/grid5.jpg");
}

.grid6 {
	background-image: url("/images/uneditable/grid6.jpg");
}

.grid7 {
	background-image: url("/images/uneditable/grid7.jpg");
}

.grid8 {
	background-image: url("/images/uneditable/grid8.jpg");
}

.grid9 {
	background-image: url("/images/uneditable/grid9.jpg");
}
 #map {
      width: 100%;
      height: 400px;
      @include breakpoint(normal-screen) {
      	height: auto;
      }
  }


