/*----------------------- Title and Background ------------------------------ */

.hero {
    @extend %clearfix;

    width: 100%;
    height: 80vh;
    min-height: 600px;
    text-align: center;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include breakpoint(condensed-screen) {
        background-attachment: fixed;
    }

    @include breakpoint(tablet-screen) {
        height: 85vh;
        min-height: 900px;
        text-align: right;
    }

    @media (hover: none) {
        background-attachment: initial;
    }
}


.castle-wall {
    background-image: url("/images/uneditable/castle_wall_mobile.png");
    background-image: url("/images/uneditable/castle_wall_mobile.png");
    background-repeat: repeat-x;
    background-position: bottom center;
    width: 100%;
    height: 41px;
    margin-top: -35px;
    z-index: 5;
    position: relative;

    @include breakpoint(condensed-screen) {
        background-image: url("/images/uneditable/castle_wall.png");
    }
}

.hero h2 {}

.hero .content p {
    color: $white;
    margin: 5px 0px 0px 0px;
    @include proseFontStack();
    font-weight: 300;
    display: none;
    @include breakpoint(condensed-screen) {
        display: block;
    }
}

.hero .content {
    height: 60vh;
    width: 100%;
    @include breakpoint(condensed-screen) {}

    @include breakpoint(large-screen) {}
}

.content-bottom {
    z-index: 1;
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 0px 20px;
    @include breakpoint(tablet-screen) {
        top: 47%;
        right: 50px;
        left: inherit;
        max-width: 900px;
        padding: 0px;
    }
}


.hero .container {
    margin: 0 auto !important;
    width: 90%;
    height: 100%;
    position: relative;
}

/* ------------ Overlay to darken the hero image ------------  */

.darken-pseudo {
    position: relative;
}

.darken-pseudo:after {
    content: '' !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block !important;
    background-color: rgba(0, 0, 0, 0.30);
}