@import "constants.scss";

.container {
    margin: 0px auto;
    max-width: $maxWidth;
    padding: 0px 10px;
}

@mixin flex() {
   	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/// Use with @extend %clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}