@import "constants.scss";
@import "animations.scss";
@import "typography.scss";

/// Credit: https://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
  @if $point == large-screen {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == normal-screen {
    @media (min-width: 48em) { @content; }
  }
  @else if $point == condensed-screen {
    @media (min-width: 35em)  { @content; }
  }
}

.container {
    margin: 0px auto;
    max-width: $maxWidth;
    padding: 0px 10px;
    @include breakpoint(condensed-screen) { 
      padding: 0px 30px;
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }
    @include breakpoint(condensed-screen) { 
        padding: 0px 30px;
    }
    @include breakpoint(normal-screen) {
      padding: 0px 30px; 
    }
    @include breakpoint(large-screen) { 
      padding: 0px 10px;
    }
}

@mixin flex() {
   	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/// Use with @extend %clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

#subsections {
  @include flex;
  flex-direction: column;
}

.subsection {
   margin-top: 20px;
   margin-bottom: 50px;
}

/// For titles of subsections, center them on mobile but left align on web
.subsection h3 {
  width: 100%;
  text-align: center;
  @include breakpoint(condensed-screen) { 
      width: 100%;
      text-align: left; 
  }
}

/* --------------- WHY NORTHSHORE -----------------*/

.why {
  margin-top: 50px;
}

.why figure {
  width: 300px;
  margin-right: -150px;
  float: right;
  margin-top: -50px;
  display: none;

    @include breakpoint(condensed-screen) { 
      display: block;
        margin-right: -100px;
          width: 420px;
    }
    @include breakpoint(normal-screen) {
        width: 500px;
    }
    @include breakpoint(large-screen) { 
        width: 620px;
    }
}

.why .mobile {
      @extend %clearfix;
    margin: 0px 0px 0px -10px;
    padding: 0px;
    width: 110%;

    @include breakpoint(condensed-screen) { 
        display: none;
    }
}

.why img {
  margin: 0px;
  display: block;
  width: 100%;
  height: auto;
}

.why .content {
  align-self: flex-end;
}

.why p {
    @include breakpoint(condensed-screen) { 
      margin-right: 35px;

    }
}

.northshoreframed {
  z-index: 0;
}

.button {
   @include heavyFontStack();
  background-color: $green;
  text-align: center;
  vertical-align: middle;
  height: 26px;
  line-height: 26px;
  margin: 60px 15px 20px 40px;
  padding: 10px 20px;
  text-decoration: none;
  color: $white;
  @include transition(all 0.3s ease-out);
  text-transform: uppercase;
  float: right;
}

.button:hover {
  background-color: $green;
  color: $white;
}


/* --------------- ABOUT -----------------*/

.aboutWrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

.aboutWrapper .container {
      @include breakpoint(condensed-screen) {
        margin-top: 0px;
    }


    @include breakpoint(normal-screen) {
        margin-top: 0px;
    }


    @include breakpoint(large-screen) {
        margin-top: 20px;
    }
}

.aboutWrapper blockquote {
    font-size: 1.2em;
    @include breakpoint(condensed-screen) {
        font-size: 1.5em;
        margin-top: 0px;
    }


    @include breakpoint(normal-screen) {
        font-size: 1.8em;
    }


    @include breakpoint(large-screen) {
        font-size: 2em;
    }
}

.about .outerContent {
    @include flex;
    margin-top: 50px;
}

.about figure {
    display: none;
    @include breakpoint(condensed-screen) {
        display: block;
          margin-left: -500px;
    }


    @include breakpoint(normal-screen) {
        margin-left: -350px;
    }


    @include breakpoint(large-screen) {
        margin-left: -100px;
    }
}

.about h3 {
      @include breakpoint(condensed-screen) {
        text-align: right;
    }

}

.about p {
  margin-right: 0px;
  margin-left: 35px;
}


/* --------------- SHARE -----------------*/

.shareWrapper {
  margin-bottom: 0px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+63,ffffff+63,91c0c7+63 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 63%, #ffffff 63%, #91c0c7 63%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 63%,#ffffff 63%,#91c0c7 63%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 63%,#ffffff 63%,#91c0c7 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#91c0c7',GradientType=0 ); /* IE6-9 */

padding-bottom: 100px;
}

.shareWrapper .container {

}

.shareWrapper figure {
  margin-left: -95px;
  margin-bottom: -10px;
  margin-top: 50px;
}

.shareWrapper h3 {
  text-align: center;
}

.shareWrapper p {
  text-align: center;
}

.shareWrapper .subsection {
  margin-top: 30px;
  margin-bottom: 0px;
}


/* --------------- VOLUNTEER -----------------*/

.volunteerWrapper {
  margin-top: 40px;
}

.volunteerWrapper .outerContent {
    @include flex;
    flex-direction: row;
    justify-content: center;
}

.volunteerWrapper .content {
  width: 50%;
}

.volunteerWrapper .content p {
  margin-right: 35px;
}


.volunteerWrapper .left {
  border-right: 3px solid $lightGrey;
  padding-bottom: 25px;
}

.hide {
  display: none;
}
