
/*----------------------- Navigation Styles ------------------------------ */

/// Credit: https://hackernoon.com/the-ultimate-css-battle-grid-vs-flexbox-d40da0449faf

header {
    @include flex();
    max-width: 100%;
    @include heavyFontStack();
    height: 60px;
    position: absolute;
  	///position: sticky;
  	top: 0px;
  	@include breakpoint(condensed-screen) {
         height: 89px;
         position: relative;
         ///border-radius: $borderRadius;
         //border-top: 1px solid $blue;
         border-bottom: 3px solid $blue;
         margin: 0px auto 0px auto;
         max-width: 100%;
    }
         /*-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
      -webkit-animation-name: slideInDown;
    animation-name: slideInDown;*/
}

h1 {
    margin: auto 0px;
    padding: 0px 0px 0px 20px;
}

h1 img {
	width: 80%;

    @include breakpoint(condensed-screen) {
         width: 90%;
    }
	@include breakpoint(normal-screen) {
        width: 100%;
    }
}

.navigation {
    width: 100%;
  	background-color: $white;
  	z-index: 10;
}

.nslogo {
	background-color: $lightGrey;
	border-radius: $borderRadius;
	padding: 15px 20px 10px 20px;
	display: none;

	@include breakpoint(normal-screen) {
        display: inline-block;
    }
}

.donate {
	height: 25px;
	display: inline-block;
	margin: auto 0px !important;
	@include breakpoint(condensed-screen) {
         margin: auto 25px !important;
    }
}

/*-----------------Dropdown Menu---------------*/


nav[role=navigation] {
    @extend %clearfix;
    overflow: hidden;
    ///@include transition(all 0.3s ease-out);
    @include altProseStack();
    ///font-weight: 600;
    width: 0px;

    @include breakpoint(normal-screen) {
    	///text-transform: uppercase;
    	flex-grow: 5;
    }
}

ul.nav {
    padding: 0;

    @include breakpoint(condensed-screen) {
        font-size: 80%;
    }

    @include breakpoint(normal-screen) {
    	height: 100%;
    	margin: auto 10px auto 0px;
        border: 0;
        text-align: right;
        font-size: 80%;
    }

}

ul.nav li {
    display: inline-block;
    margin: 0 1em;
    height: 100%;
    vertical-align: center;
}

ul.nav li a {
    color: $darkBlue;
    ///text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    margin: auto 0px;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
    display: inline-block;
    @include breakpoint(normal-screen) {
    	border: 0;
        font-size: 90%;
    }
}

ul.nav li a:hover {
    color: $blue;
}

ul.nav li a.selected {
    font-weight: 900 !important;
}


ul.nav li:hover .dropdown {
	@include transition(all 0.3s ease-out);
    display: block;
}

/*ul.nav li:hover a.topmenu::before {
  content:""; 
  background: $lightBlue; 
  position: absolute; 
  top: 0; 
  height: 3px; 
  width: 50%;
  left: 50%;
  margin-left: -25%;
}*/

ul.nav li img {
    margin-bottom: -8px;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: $darkBlue;
	margin-top: 56px;
	padding: 40px 25px 0px 25px;
	border-radius: 0px 0px $borderRadius $borderRadius;
	@include transition(all 0.3s ease-out);

	@include breakpoint(normal-screen) {
    	-webkit-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
       	-moz-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
        box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
    }
}

.dropdown li {
	display: block !important;
	text-align: center;
	width: 100%;
	margin-left: 0px !important;
	margin-bottom: 10px !important;
}

.dropdown li a {
	width: 100%;
	text-align: center !important;
	color: $lightBlue !important;
	display: inline-block;
	@include transition(all 0.3s);
}

.dropdown li a:hover {
	color: $white !important;
}

/*.verticalbanner:after,.verticalbanner:before {
    content: '';
    position: absolute;
    border-top: 45px solid $darkBlue; // angle degree, reduce to reduce degree of angles
    height: 0; // no height, no content, just border
    width: 0;
    top: 100%;
}
.verticalbanner:after { // right angle
    border-left: 150px solid transparent;
    right:0;
    border-radius: 0px 0px $borderRadius $borderRadius;
}
.verticalbanner:before { // left angle
    border-right: 150px solid transparent;
    left:0;
    border-radius: 0px 0px $borderRadius $borderRadius;
}*/


div.menu-link {
    padding: 1em;
    color: $darkBlue;

    @include breakpoint(normal-screen) {
        display: none;
    }
}

.explore {
	@include breakpoint(normal-screen) {
		margin-left: -80px;
	}
}

.about {
	@include breakpoint(normal-screen) {
		margin-left: -60px;
	}
}

.volunteermenu {
	@include breakpoint(normal-screen) {
		margin-left: -50px;
	}
}

/*----------------------- Hamburger Functionality ------------------------------ */

/// Credit: https://codepen.io/bradfrost/pen/sHvaz



// When we want nav to appear, change the height
nav[role=navigation].open {
    margin-bottom: 10px;
    margin-top: 60px;
    width: 100%;
    position: absolute;
    background-color: $white;
    	-webkit-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
       	-moz-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
        box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
}

.open .dropdown {
	position: relative !important;
	display: block !important;
	background-color: $white;
	margin-top: 0px;
	padding-top: 10px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	z-index: 10;
	font-size: 80% !important;
}

.open .dropdown li {
	text-align: left;
}

.open ul.nav {
	//@include flex();
	//flex-wrap: wrap;
	///justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.open ul.nav li {
	display: block !important;
    margin: 25px 0px;
}

.open .dropdown li a {
    display: block !important;
    text-align: left !important;
    color: $black !important;
    font-weight: 600 !important;
}

.open .volunteerlist {
	order: 2;
}

ul.nav li.facebookmobile {
	@include breakpoint(normal-screen) {
		display: none !important;
	}
}

.open ul.nav li.facebook {
	display: none !important;
	@include breakpoint(normal-screen) {
		display: inherit !important;
	}
}

.facebook img {
	width: 30px;
}

.open .volunteerlist, .open .reachout {
	margin-top: 15px;
}


/*----------------- Hamburger Animation -----------------*/

/// Credit: https://codepen.io/mblode/pen/evjfn


@mixin btn($left, $top) {
    width: 20px;
    top: $top;
    right: $left;
    transition-duration: 0.5s;
    position: absolute;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 25px;
    background-color: $darkBlue;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $darkBlue;
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $darkBlue;
    content: "";
    top: $top;
}

div.menu-link {
    @include btn(15px, 5px);
    @include breakpoint(condensed-screen) {
         @include btn(20px, 20px);
    }

    .icon {
        @include icon(4px, 30px);

        &:before {
            @include icon-before(4px, 30px, -10px);
        }

        &:after {
            @include icon-after(4px, 30px, 10px);
        }
    }

    &.open {
        .icon {
            transition-duration: 0.5s;
            background: transparent;

            &:before {
                transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
            }

            &:after {
                transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}