.quote {
	@include flex();
	flex-direction: row;
}

.quote .thirdContainer {
	background-color: $lightGrey;
	height: 400px;
	margin-right: 3px;
	display: none;
	@include breakpoint(condensed-screen) {
		display: block;
    }
}


.quote .twoThirdContainer {
	background-color: $lightBlue;
	height: auto;
	width: 100%;
	text-align: left;
	@include breakpoint(condensed-screen) {
		height: 400px;
		width: 67%;
    }
}

/* --------------- HEADSHOT, NAME, DESCRIPTION ---------------*/

.headshot {
	margin: auto auto;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	text-align: center;
}

.headshot .compat-object-fit img {
	border: none;
	opacity: 0;
	visibility: hidden;
}

.headshot img {
    object-fit: cover;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    height:100px;
    background-color:$lightBlue;
    border:5px dashed $blue;  
}

.actualQuote {
	display: block;
	margin: auto auto;
	width: 80%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 110%;
	line-height: 1.8rem;
	padding: 100px 0px;
	@include breakpoint(condensed-screen) {
		padding: 0px;
		font-size: 90%;
	}
	@include breakpoint(tablet-screen) {
		font-size: 100%;
	}
	@include breakpoint(normal-screen) {
		font-size: 110%;
	}
}

.quote blockquote {
	margin: auto auto;
}

/*cite {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 25px;
	@include breakpoint(condensed-screen) {
		display: none;
	}
}*/

.quote strong {
	color: $darkBlue;
	display: block;
	margin: 10px 0;
	@include boldFontStack();
}

.quote span {
	@include altProseStack();
	color: $grey;
}

/* ------------ BACKGROUND QUOTE "" VISUALS ---------------*/

.hasQuote {
	position: relative;
}

.hasQuote::before {
	position: absolute;
	top: 0;
    left: 0;
	content: url("/images/uneditable/hasQuoteTop.png");
}

.hasQuote::after {
	position: absolute;
	bottom: -6px;
	right: 0;
	content: url("/images/uneditable/hasQuoteBottom.png");

}