.text_left p {
	text-align: left;
}

/* On mobile, the image should sit on top of the text. */
.text_left figure {
	height: 300px;

	/* Wrap the text around the image. */
	@include breakpoint(condensed-screen) {
		float: right;
		height: 300px;
		padding: 0px 0px 40px 40px;
    }

    /* Image is now same height as text and should sit next to the text. Offset top margin to bring about the header. */
    @include breakpoint(normal-screen) {
    	height: 600px;
    	padding: 0px 0px 60px 50px;
    }

    @include breakpoint(large-screen) {
    	padding: 0px 0px 60px 100px;
    }
}

/* Some modules have buttons on one page, and not on another. If no button, lower the image height so that it fits next to text still. */
.no_button.text_left figure{
	@include breakpoint(normal-screen) {
		height: 500px;
	}
}

.nseinfo figure {
	@include breakpoint(normal-screen) {
    	height: 600px !important;
    }
}

.gem figure {
	@include breakpoint(normal-screen) {
    	height: 650px !important;
    }
}

.text_left ul {
	@extend %clearfix;
	list-style: none;
	@include flex();
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	font-size: 80%;
	@include breakpoint(tablet-screen) {
		justify-content: space-evenly;
		font-size: 85%;
	}
	@include breakpoint(normal-screen) {
		justify-content: space-evenly;
		font-size: 95%;
	}
	@include breakpoint(large-screen) {
		justify-content: space-evenly;
		font-size: 100%;
	}
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.text_left li {
	border-radius: $borderRadius;
	///border: 3px solid $grey;
	padding: 10px 20px;
	margin: 5px 5px;
	background-color: $lightGrey;
	@include altProseStack();
	margin: 10px;
	@include breakpoint(normal-screen-screen) {
		margin: 10px 20px;
	}
}

.volunteerinfo figure {
	height: 500px;
}

.text_left figcaption {
	float: right;
}