.text_right p {
	text-align: left;
}

sup {
	font-size: 50%;
}

/* On mobile, the image should sit on top of the text. */
.text_right  figure {
	height: 300px;

	/* Wrap the text around the image. */
	@include breakpoint(condensed-screen) {
		float: left;
		height: 300px;
		padding: 0px 40px 40px 0px;
    }

    /* Image is now same height as text and should sit next to the text. Offset top margin to bring about the header. */
    @include breakpoint(normal-screen) {
    	height: 450px;
 		padding: 0px 50px 60px 0px;
    }

    @include breakpoint(large-screen) {
    	padding: 0px 100px 60px 0px;
    }
}

/* Some modules have buttons on one page, and not on another. If no button, lower the image height so that it fits next to text still. */
.no_button.text_right  figure {
	@include breakpoint(normal-screen) {
		height: 400px;
	}
}

.why  figure {
	@include breakpoint(normal-screen) {
    	height: 600px !important;
    }
}

.afterschool figure {
	@include breakpoint(normal-screen) {
    	height: 500px !important;
    }
}

.text_right ul {
	@extend %clearfix;
	list-style: none;
	@include flex();
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	font-size: 80%;
	@include breakpoint(tablet-screen) {
		justify-content: space-evenly;
		font-size: 85%;
	}
	@include breakpoint(normal-screen) {
		justify-content: space-evenly;
		font-size: 95%;
	}
	@include breakpoint(large-screen) {
		justify-content: space-evenly;
		font-size: 100%;
	}
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.text_right li {
	border-radius: $borderRadius;
	///border: 3px solid $grey;
	padding: 10px 20px;
	margin: 5px 5px;
	background-color: $lightGrey;
	@include altProseStack();
	@include breakpoint(condensed-screen) {
		margin: 10px 20px;
	}
}

.text_right figcaption {
	float: left;
}
