.volunteer {
	@include flex();
	flex-direction: row;
}

.volunteer .leftHalfContainer {
	background-color: $darkBlue;
	width: 100%;
	@include breakpoint(normal-screen) {
		width: 50%;
    }
    text-align: center;
}

.volunteer .leftHalfContainer p, .volunteer .leftHalfContainer span {
	text-align: left;
}

.volunteer .content {
	padding: 50px 20px;
    @include breakpoint(condensed-screen) {
        padding: 150px 100px;
    }
}

.volunteer .rightHalfContainer {
	background-image: url("/images/Volunteer.jpg");
    background-size:cover;
    background-position: center center;
    display: none;

 	@include breakpoint(condensed-screen) {
		
    }

    @include breakpoint(normal-screen) {
    	align-items: stretch;
 		display: flex;
    }

    @include breakpoint(large-screen) {
    	
    }
}

.volunteer p {
	color: $white;
}

.volunteer .leftHalfContainer span {
	color: $blueGreen;
	@include altProseStack();
	font-style: italic;
	display: block;
	margin: 50px 0px;
	line-height: 1.5rem;
}