.zoned {
	@include flex();
	flex-direction: column;
	@include breakpoint(normal-screen) {
		flex-direction: row;
    	align-items: stretch;
 		display: flex;
    }
}

.zoned .rightHalfContainer {
	@extend %clearfix;
	background-color: $lightGrey;
	width: 100%;
	@include breakpoint(normal-screen) {
		width: 50%;
	}
	display: flex;
}


.zoned .leftHalfContainer {
	height: 400px;
	margin-right: 3px;
	background-image: url("/images/zonemap.png");
    background-size:cover;
    background-position: center center;
    width: 100%;
	@include breakpoint(normal-screen) {
		background-position: top right;
		width: 50%;
		height: 780px;
	}
	display: flex;
}

.zoned .content {
	padding: 50px 20px;
    @include breakpoint(condensed-screen) {
        padding: 150px 100px;
    }
}

.zoned strong {
	color: $grey;
	display: block;
	margin: 10px 0;
	@include boldFontStack();
}

.zoned p {
	text-align: left;
}

