{{ define "main" -}}

	<section id="subsections">

	  	{{ partial "newsletter.html" . }}

	  	<div class="container subsection why">

	  		<figure>
		  		<img class="northshoreframed" src="/images/northshoreframed.png" />
		  	</figure>

		  	<h3 id="why" class=""><mark>Why North Shore?</mark></h3>

		  	<p class="">
		  		 It's a question most parents struggle with. Why choose the local, public elementary school with wavering school grades over the private and fundamental schools nearby? You only want the best for your kids, and school is a large part of shaping their lives. We understand. For that reason alone, we're not here to judge decisions or force a school on anyone. We just believe that North Shore elementary is a gem that too many people write off, and that it is worthy of your consideration. We're local parents sending our kids to North Shore, and here are our findings.		  	<a class="button" href="">Read More</a></p>

			<img class="triggerMe mobile" src="/images/northshore_mobile.png" />

	  	</div>

	  	<div class="aboutWrapper">

		  	<div class="container subsection about">

		  		<blockquote class="triggerMe">We live in this amazing neighborhood with the promise of community, cohesion and support yet on the same street we shuttle out to 5 different elementary schools.</blockquote>

		  		<div class="outerContent">

			  		<figure>
		  				<img class="triggerMe" src="/images/classroom.png" />
		  			</figure>

			  		<div class="content">

			  			<h3 id="about" class="triggerMe"><mark>About Friends</mark></h3>

				  		<p class="triggerMe">Friends of North Shore Elementary (FNSE) is here to partner with the school, families, and faculty to identify needs and provide sustainable resources to ensure it is a dynamic, engaging and successful public school that proudly serves families in the Northeast region of St. Petersburg. Our mission is for North Shore Elementary to become the first choice for families who live within the zoned district. The only way we can do this is with the help of our community. </p>

			  		</div>

		  		</div>

		  	</div>

	  	</div>


	  	<div class="container subsection volunteerWrapper">

	  		<h3 id="volunteer" class="triggerMe"><mark>Looking to Volunteer?</mark></h3>

	  		<div class="outerContent">

		  		<div class="content left">

		  			<p class="triggerMe">We would love to have you get engaged. There is something for everyone.  Depending on your interest and availability there are a variety of ways to get involved with both North Shore Elementary and FNSE.
		  			<a class="button" href="">Contact Us</a>
		  			</p>

		  		</div>

		  		<div class="content">

		  			<blockquote class="triggerMe">Become a Lunch PAL, meeting with an identified student in need once a week for an hour.</blockquote>

					  <ul class="hide">With FNSE
		  				<li>Volunteer to be part of a Committee.</li>
		  				<li>Participate in monthly Executive Committee Meetings.</li>
		  				<li>Host a Fundraiser/Friend-raiser.</li>
		  				<li>Connect us with your network.</li>
		  				<li>Become a Lunch PAL, meeting with an identified student in need once a week for an hour.</li>
		  				<li>Supervise students at recess alongside a faculty member.</li>
		  				<li>Provide consistent academic support for students in small groups or one-on-one, and helping them accelerate to the next level.</li>
		  				<li>Help as needed in the front office with clerical and administrative duties.</li>
		  			</ul>

		  		</div>
		  	</div>

	  	</div>

	  	<div class="shareWrapper">

	  		<div class="container subsection">


		  		<div class="content">
		  			<h3 id="share" class="triggerMe"><mark>Spread the Word</mark></h3>

		  			<p class="triggerMe">Join us on <a href="">Facebook</a>, and share your stories!</p>
		  		</div>

	  			<figure >
	  				<img class="triggerMe" src="/images/facebook.png" width="1400" />
	  			</figure>


	  		</div>

	  	</div>

  </section>

{{- end }}