{{ define "main" -}}

  	{{ partial "newsletter.html" . }}

  	<div class="container">

  		<h3><mark>Why North Shore?</mark></h3>

  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum odio ac nisl dignissim accumsan. Suspendisse venenatis risus mollis, varius neque a, rhoncus massa. In posuere lorem metus, consectetur placerat turpis fringilla sit amet. Morbi sagittis, ipsum sed egestas tincidunt, lorem justo mollis neque, in feugiat mauris tellus nec neque. Vivamus ultrices mollis lectus at iaculis. Donec quis tellus tellus. Nulla porttitor sodales lacus, at consectetur nisi faucibus sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium semper dolor eu lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

  	</div>

{{- end }}