/*----------------------- Misc ------------------------------ */

$maxWidth: 1200px;

/*----------------------- Colors ------------------------------ */

$darkGrey: #313131;

$white: #fff;

$lightYellow: #FAE18B;

$paleYellow: #FCF3CB;

$green: #BDA857;
