@import "base.scss";

.pageFooter {
	background-image: url("/images/footer.png");
	background-repeat: no-repeat;
	border-bottom: 75px solid $darkGrey;
	background-position: center bottom;
	height: 500px;
	background-color: $blue;
}

.pageFooter .container {
    height: 100px;
}

.footerImg {
	margin: 0 auto;
	display: block;
}