@import "base.scss";

/*----------------------- Title and Background ------------------------------ */

/// On mobile, the hero image single and does not repeat
.hero {
    @extend %clearfix;

    width: 100%;
    height: 420px;
    background-color: $darkGrey;
    background-image: url("/images/raisehand_large.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 300px;
}

.hero h2 {
    margin: 25px 0px 0px 0px;
    text-align: center;
}

.hero p {
    text-align: center;
    padding: 3px 0px;
    color: $white;
    margin: 0px;
}

/// Handle larger displays
@media screen and (min-width: 35em) {
    /// On large screens, the background repeats along the bottom
    .hero {
        background-image: url("/images/Bookshelf.png");
        background-size: auto 120px;
        background-repeat: repeat-x;
        height: 520px;
    }

    .hero h2 {
        text-align: right;
        font-size: 36px !important;
    }

    .hero p {
        text-align: right;
        font-size: 24px;
        font-weight: 300;
    }
}

/*----------------------- Call Outs ------------------------------ */

/// Credit: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/

/// Flexbox of our row of callouts.
.callouts {
    @include flex;

    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}

/// Build a callout.
@mixin callout($color, $width, $height) {
    width: $width;
    height: $height;
    background-color: $color;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom 50px;
}

/// On mobile, we don't display callouts. Instead, we have a row underneath for mobile callouts
.callouts div {
    display: none;
}

/// On larger displays, shows callouts.
@media screen and (min-width: 35em) {
    .volunteer {
        background-image: url("/images/raisehand.png");

        @include callout($green, 25%, 270px);
    }

    .share {
        background-image: url("/images/globe.png");

        @include callout($lightGrey, 25%, 270px);
    }

    .featured {
        background-image: url("/images/donate.png");

        @include callout($paleYellow, 35%, 370px);

        margin: 0px 10px;
    }

    .featured a {
        background-color: $orange !important;
    }

    .hero {
        height: 575px;
    }

    /// This is ugly trickery to get the a link to sit at the bottom of the callout 
    /// with the text vertical and horizontal centered.
    .callouts div a {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: $darkYellow;
        display: inline-block;
        height: 50px;
        text-align: center;
        line-height: 2.1 !important;
        font-size: 24px !important;

        @include heavyFontStack;

        text-transform: uppercase;
        text-decoration: none;
        color: $white;
    }

    /// On larger screen, hide the mobile callouts
    .mobileCallouts {
        display: none !important;
    }

    /// and show the full sized callouts.
    .callouts div {
        display: block;
    }
}

/*----------------------- Mobile Call Outs ------------------------------ */

/// Much like full sized callouts, we have a row of 3 things to focus.
/// Difference is that this row has to sit below the hero image instead of on top.
.mobileCallouts {
    @include flex;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.mobileCallouts div {
    width: 33.3% !important;
    height: 50px;
}

.mobileCallouts div a {
    line-height: 2.1 !important;
    font-size: 24px !important;

    @include heavyFontStack;

    text-transform: uppercase;
    text-decoration: none;
    color: $white;
}

.mobileCallouts .volunteer {
    background-color: $green;
}

.mobileCallouts .share {
    background-color: $darkYellow;
}

.mobileCallouts .featured {
    background-color: $orange;
}