/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Import League Gothic ------------------------------ */
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-italic-webfont.eot");
  src: url("/fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-italic-webfont.woff") format("woff"), url("/fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem; }
  html h1 {
    font-size: 4.242rem;
    line-height: 4.5rem;
    margin-top: 3rem; }
  html h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem; }
  html h3 {
    font-size: 1.414rem; }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 33px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*h2.triggerMe mark {
	@include transition(all 1s ease-out);
	opacity: 0;
}*/
/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Import League Gothic ------------------------------ */
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-italic-webfont.eot");
  src: url("/fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-italic-webfont.woff") format("woff"), url("/fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem; }
  html h1 {
    font-size: 4.242rem;
    line-height: 4.5rem;
    margin-top: 3rem; }
  html h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem; }
  html h3 {
    font-size: 1.414rem; }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 33px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

/*h2.triggerMe mark {
	@include transition(all 1s ease-out);
	opacity: 0;
}*/
/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Import League Gothic ------------------------------ */
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-italic-webfont.eot");
  src: url("/fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-italic-webfont.woff") format("woff"), url("/fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem; }
  html h1 {
    font-size: 4.242rem;
    line-height: 4.5rem;
    margin-top: 3rem; }
  html h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem; }
  html h3 {
    font-size: 1.414rem; }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 33px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }
