/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Import League Gothic ------------------------------ */
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-italic-webfont.eot");
  src: url("/fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-italic-webfont.woff") format("woff"), url("/fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: sans-serif;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.65rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 80%;
    font-family: 'Lato', sans-serif;
    font-weight: 500; }
    @media (min-width: 35em) {
      html p {
        font-size: 80%; } }
    @media (min-width: 800px) {
      html p {
        font-size: 90%; } }
    @media (min-width: 1200px) {
      html p {
        font-size: 100%; } }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    color: #E95328; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem; }
  html h2, html h3 {
    font-size: 1.2em !important;
    line-height: 3rem;
    margin-top: 3rem;
    font: 100% 'League Gothic', Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 0px; }
    html h2 mark, html h3 mark {
      background-color: #816C93;
      padding: 0px 5px 0px 0px;
      color: #fff; }
    @media (min-width: 35em) {
      html h2, html h3 {
        font-size: 1.5em !important; } }
    @media (min-width: 800px) {
      html h2, html h3 {
        font-size: 1.7em !important; } }
    @media (min-width: 1200px) {
      html h2, html h3 {
        font-size: 1.9em !important; } }
  html h3 {
    margin-top: 2.25rem; }
  @media screen and (min-width: 35em) {
    html h2, html h3 {
      margin-top: 3rem; } }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 30px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
h2.triggerMe mark {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

h2.triggeredCSS3 mark {
  opacity: 1; }

h3.triggerMe mark {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

h3.triggeredCSS3 mark {
  opacity: 1; }

p.triggerMe {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

p.triggeredCSS3 {
  opacity: 1; }

blockquote.triggerMe {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

blockquote.triggeredCSS3 {
  opacity: 1; }

img.triggerMe {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

img.triggeredCSS3 {
  opacity: 1; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Import League Gothic ------------------------------ */
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-italic-webfont.eot");
  src: url("/fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-italic-webfont.woff") format("woff"), url("/fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: sans-serif;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.65rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 80%;
    font-family: 'Lato', sans-serif;
    font-weight: 500; }
    @media (min-width: 35em) {
      html p {
        font-size: 80%; } }
    @media (min-width: 800px) {
      html p {
        font-size: 90%; } }
    @media (min-width: 1200px) {
      html p {
        font-size: 100%; } }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    color: #E95328; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem; }
  html h2, html h3 {
    font-size: 1.2em !important;
    line-height: 3rem;
    margin-top: 3rem;
    font: 100% 'League Gothic', Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 0px; }
    html h2 mark, html h3 mark {
      background-color: #816C93;
      padding: 0px 5px 0px 0px;
      color: #fff; }
    @media (min-width: 35em) {
      html h2, html h3 {
        font-size: 1.5em !important; } }
    @media (min-width: 800px) {
      html h2, html h3 {
        font-size: 1.7em !important; } }
    @media (min-width: 1200px) {
      html h2, html h3 {
        font-size: 1.9em !important; } }
  html h3 {
    margin-top: 2.25rem; }
  @media screen and (min-width: 35em) {
    html h2, html h3 {
      margin-top: 3rem; } }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 30px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

.container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0px 10px; }
  @media (min-width: 35em) {
    .container {
      padding: 0px 30px;
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right); } }
  @media (min-width: 35em) {
    .container {
      padding: 0px 30px; } }
  @media (min-width: 1080px) {
    .container {
      padding: 0px 30px; } }
  @media (min-width: 1200px) {
    .container {
      padding: 0px 10px; } }

.why .mobile {
  *zoom: 1; }
  .why .mobile:before, .why .mobile:after {
    content: " ";
    display: table; }
  .why .mobile:after {
    clear: both; }

#subsections {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }

.subsection {
  margin-top: 20px;
  margin-bottom: 50px; }

.subsection h3 {
  width: 100%;
  text-align: center; }
  @media (min-width: 35em) {
    .subsection h3 {
      width: 100%;
      text-align: left; } }

/* --------------- WHY NORTHSHORE -----------------*/
.why {
  margin-top: 25px; }
  @media (min-width: 35em) {
    .why {
      margin-top: 50px; } }

.why figure {
  width: 300px;
  margin-right: -150px;
  float: right;
  margin-top: -50px;
  display: none; }
  @media (min-width: 35em) {
    .why figure {
      display: block;
      margin-right: -100px;
      width: 420px; } }
  @media (min-width: 50em) {
    .why figure {
      margin-top: -50px;
      width: 550px;
      margin-right: -225px; } }
  @media (min-width: 1080px) {
    .why figure {
      margin-top: -50px;
      width: 550px;
      margin-right: -150px; } }
  @media (min-width: 1200px) {
    .why figure {
      width: 620px; } }

.why .mobile {
  margin: 0px 0px 0px -10px;
  padding: 40px 0px 0px 0px;
  width: 110%; }
  @media (min-width: 35em) {
    .why .mobile {
      display: none; } }

.why img {
  margin: 0px;
  display: block;
  width: 100%;
  height: auto; }

.why .content {
  align-self: flex-end; }

@media (min-width: 35em) {
  .why p {
    margin-right: 35px; } }

.northshoreframed {
  z-index: 0; }

.button {
  font: 100% 'League Gothic', Helvetica, sans-serif;
  background-color: #BDA857;
  text-align: center;
  vertical-align: middle;
  height: 26px;
  line-height: 26px;
  margin: 60px 15px 20px 40px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  float: right; }

.button:hover {
  background-color: #BDA857;
  color: #fff; }

/* --------------- ABOUT -----------------*/
.aboutWrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
  /* IE6-9 */ }

@media (min-width: 35em) {
  .aboutWrapper .container {
    margin-top: 0px; } }

@media (min-width: 1080px) {
  .aboutWrapper .container {
    margin-top: 0px; } }

@media (min-width: 1200px) {
  .aboutWrapper .container {
    margin-top: 20px; } }

.aboutWrapper blockquote {
  font-size: 1.2em;
  margin-top: 0px; }
  @media (min-width: 35em) {
    .aboutWrapper blockquote {
      font-size: 1.5em; } }
  @media (min-width: 1080px) {
    .aboutWrapper blockquote {
      font-size: 1.8em; } }
  @media (min-width: 1200px) {
    .aboutWrapper blockquote {
      font-size: 2em; } }

.about {
  margin-top: 0px; }
  @media (min-width: 35em) {
    .about {
      margin-top: 20px; } }

.about .outerContent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 50px; }

.about figure {
  display: none; }
  @media (min-width: 35em) {
    .about figure {
      display: block;
      margin-left: -500px; } }
  @media (min-width: 1080px) {
    .about figure {
      margin-left: -350px; } }
  @media (min-width: 1200px) {
    .about figure {
      margin-left: -100px; } }

.about h3 {
  margin-top: 0px !important; }
  @media (min-width: 35em) {
    .about h3 {
      margin-top: 50px !important;
      text-align: right; } }

.about p {
  margin-right: 0px;
  margin-left: 35px; }

/* --------------- SHARE -----------------*/
.shareWrapper {
  margin-bottom: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+63,ffffff+63,91c0c7+63 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 63%, #ffffff 63%, #91c0c7 63%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 63%, #ffffff 63%, #91c0c7 63%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 63%, #ffffff 63%, #91c0c7 63%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#91c0c7',GradientType=0 );
  /* IE6-9 */
  padding-bottom: 100px; }

.shareWrapper figure {
  margin-bottom: -10px;
  margin-top: 50px;
  width: 100%;
  margin-left: 0px; }
  @media (min-width: 1200px) {
    .shareWrapper figure {
      margin-left: -95px;
      width: 1400px; } }

.shareWrapper img {
  width: 100%;
  content: url(/images/facebook_mobile.png); }
  @media (min-width: 35em) {
    .shareWrapper img {
      content: url(/images/facebook_condensed.png); } }
  @media (min-width: 1080px) {
    .shareWrapper img {
      content: url(/images/facebook_condensed.png); } }
  @media (min-width: 1200px) {
    .shareWrapper img {
      content: url(/images/facebook.png); } }

.shareWrapper h3 {
  text-align: center; }

.shareWrapper p {
  text-align: center; }

.shareWrapper .subsection {
  margin-top: 30px;
  margin-bottom: 0px; }

/* --------------- VOLUNTEER -----------------*/
.volunteerWrapper {
  margin-top: 40px; }

.volunteerWrapper blockquote {
  font-size: 1.2em; }
  @media (min-width: 35em) {
    .volunteerWrapper blockquote {
      font-size: 1.5em;
      margin-top: 0px; } }
  @media (min-width: 1080px) {
    .volunteerWrapper blockquote {
      font-size: 1.8em; } }
  @media (min-width: 1200px) {
    .volunteerWrapper blockquote {
      font-size: 2em; } }

.volunteerWrapper .outerContent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 35em) {
    .volunteerWrapper .outerContent {
      flex-direction: row; } }

.volunteerWrapper .content {
  width: 100%; }
  @media (min-width: 35em) {
    .volunteerWrapper .content {
      width: 50%; } }

.volunteerWrapper .content p {
  margin-right: 0px; }
  @media (min-width: 35em) {
    .volunteerWrapper .content p {
      margin-right: 35px; } }

.volunteerWrapper .left {
  padding-bottom: 25px; }
  @media (min-width: 35em) {
    .volunteerWrapper .left {
      border-right: 3px solid #F4F4F4; } }

.hide {
  display: none; }

/* --------------- Contact -----------------*/
.contactWrapper {
  background-color: #91C0C7; }

.contactWrapper input[type=text], select, textarea {
  width: 100% !important; }

.contactWrapper .outerContent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  margin-top: 25px;
  flex-direction: column; }
  @media (min-width: 1080px) {
    .contactWrapper .outerContent {
      flex-direction: row; } }

.contactWrapper .left {
  width: 100%;
  padding-right: 0px; }
  @media (min-width: 1080px) {
    .contactWrapper .left {
      width: 50%;
      padding-right: 40px; } }

.contactWrapper .right {
  width: 100%;
  margin-top: 75px; }
  @media (min-width: 1080px) {
    .contactWrapper .right {
      margin-top: 0px;
      width: 50%; } }

.contactWrapper img {
  float: right;
  padding: 0px 20px 20px 20px; }

.contactWrapper p {
  margin-top: 0px; }

h2.triggerMe mark {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

h2.triggeredCSS3 mark {
  opacity: 1; }

h3.triggerMe mark {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

h3.triggeredCSS3 mark {
  opacity: 1; }

p.triggerMe {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

p.triggeredCSS3 {
  opacity: 1; }

blockquote.triggerMe {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

blockquote.triggeredCSS3 {
  opacity: 1; }

img.triggerMe {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0; }

img.triggeredCSS3 {
  opacity: 1; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Import League Gothic ------------------------------ */
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-italic-webfont.eot");
  src: url("/fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-italic-webfont.woff") format("woff"), url("/fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: sans-serif;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.65rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 80%;
    font-family: 'Lato', sans-serif;
    font-weight: 500; }
    @media (min-width: 35em) {
      html p {
        font-size: 80%; } }
    @media (min-width: 800px) {
      html p {
        font-size: 90%; } }
    @media (min-width: 1200px) {
      html p {
        font-size: 100%; } }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
    color: #E95328; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem; }
  html h2, html h3 {
    font-size: 1.2em !important;
    line-height: 3rem;
    margin-top: 3rem;
    font: 100% 'League Gothic', Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 0px; }
    html h2 mark, html h3 mark {
      background-color: #816C93;
      padding: 0px 5px 0px 0px;
      color: #fff; }
    @media (min-width: 35em) {
      html h2, html h3 {
        font-size: 1.5em !important; } }
    @media (min-width: 800px) {
      html h2, html h3 {
        font-size: 1.7em !important; } }
    @media (min-width: 1200px) {
      html h2, html h3 {
        font-size: 1.9em !important; } }
  html h3 {
    margin-top: 2.25rem; }
  @media screen and (min-width: 35em) {
    html h2, html h3 {
      margin-top: 3rem; } }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 30px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

input[type=text], select, textarea {
  width: 250px;
  padding: 15px 20px 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100px;
  background-color: #EAAB22;
  color: white;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  font: 100% 'League Gothic', Helvetica, sans-serif;
  text-transform: uppercase; }

body {
  margin: 0;
  padding: 0; }

.newsletter {
  order: 2;
  background-color: #91C0C7;
  margin-top: 30px;
  z-index: 50; }
  @media (min-width: 35em) {
    .newsletter {
      order: 0;
      margin-top: 0px; } }

@media screen and (min-width: 35em) {
  .newsletter .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .newsletter p {
    color: #fff;
    font-weight: 500;
    margin: 15px;
    text-align: center; }
  .newsletter form {
    margin: 15px; } }
