.carousel {
	text-align: center;
	overflow: hidden;
	background-color: $darkBlue;
	border-radius: $borderRadius;
}

.sample-projects {
	@include flex();
	flex-direction: row;
	justify-content: center;
	margin: 50px 0px;
}

.center-project {
	margin: 0px 25px;
	@include breakpoint(normal-screen) {
		margin: 0px 50px;
	}
}

.sample-projects {
	@include flex();
	flex-direction: row;
	justify-content: center;
	width: 900px;
	@include breakpoint(normal-screen) {
		width: 100%;
	}
}

.project {
	width: 300px;
	background-color: $white;
	background-clip: padding-box;
	flex-grow: 1;
	border-radius: $borderRadius $borderRadius 0px 0px;
	@include breakpoint(normal-screen) {
		width: 30%;
		max-width: 30%;
	}
	///border-bottom: 40px dotted $white;
}


.project p {
	text-align: left;
	font-size: 85%;
	margin-top: 5px;
	margin-bottom: 25px;
	padding: 5px 25px 10px 25px;
}

.projectImage {
	width: 100%;
	height: 250px;
	z-index: 100;
	background-size:cover;
    background-position: center center;
    border-radius: $borderRadius $borderRadius 0 0 ;
}

.carousel h4 {
	margin-top: 20px;
	margin-bottom: 15px;
}

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: -10px 0px 25px 0px;
	padding: 0;
	list-style: none;
	cursor: default;
	@include breakpoint(normal-screen) {
		display: none;
	}
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: $blue;
	background-color: $blue;
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

/* Fill up */
.dotstyle-fillup li a {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 1px $lightBlue;
	transition: background 0.3s;
}

.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: $blue;
	box-shadow: 0 0 1px $blue;
	transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
	height: 100%;
}

