.center_list {
	text-align: center;
	overflow: hidden;
	border-radius: $borderRadius;
}

.center_list p {
	text-align: left;
}

.grey_list {
	background-color: $lightGrey;	
}

.grey_list strong {
	color: $darkBlue;
}

.blue_list {
	color: $white;
	background-color: $darkBlue;
}

.blue_list h3 {
	color: $white;
}

.center_list ul {
	@include flex();
	flex-direction: column;
	list-style-type: none;
	flex-wrap: wrap;
	padding-left: 0px;

	@include breakpoint(normal-screen) {
		flex-direction: row;
	}
}

.center_list li:nth-child(2) {
	margin: 0px 0px;
	@include breakpoint(normal-screen) {
		margin: 30px 5%;
	}
}

.center_list li.triggeredCSS3 {
-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  visibility: visible;
}

.center_list li:nth-child(1) {
	    -webkit-animation-delay: 0s;
  	animation-delay: 0s;
}

.center_list li:nth-child(2) {
	    -webkit-animation-delay: 0.2s;
  	animation-delay: 0.2s;
}

.center_list li:nth-child(3) {
	    -webkit-animation-delay: 0.4s;
  	animation-delay: 0.4s;
}

.center_list li {
	 @extend %clearfix;
	 @include flex();
	flex-direction: row;

	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	@include breakpoint(condensed-screen) {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	@include breakpoint(normal-screen) {
		width: 30%;
		flex-direction: column;
	}

	-webkit-animation-duration: 1.5s;
  	animation-duration: 1.5s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	visibility: hidden;
}

.shield {
	height: 140px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	min-width: 100px;
	width: 18%;
	margin-right: 20px;
	flex-grow: 2;
	@include breakpoint(normal-screen) {
		width: 100%;
		margin-right: 0px;
	}
}

.hasButton .shield {
	display: none;
	@include breakpoint(tablet-screen) {
		display: block;
	}
}

.shieldDesc {
	width: 82%;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	@include breakpoint(normal-screen) {
		text-align: center;
		width: 100%;
	}
}

.hasButton .shieldDesc {
	padding-right: 20px;
}

.shieldCTA {
	width: 30%;
	@include breakpoint(normal-screen) {
		width: auto;
	}
}

.shieldCTA a {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0px;
	@include breakpoint(normal-screen) {
		position: inherit;
		transform: none;
		top: inherit;
		margin-top: 25px;
	}
}

.shieldCTA a:before {
	display: none;
	@include breakpoint(condensed-screen) {
		display: inline-block;
	}
}

.grey_list .shield {
	background-image: url("/images/uneditable/grey_shield.png");
}

.blue_list .shield {
	background-image: url("/images/uneditable/blue_shield.png");
}


/* --------------- LIST ITEM, NAME, DESCRIPTION ---------------*/

.list_item {
	text-align: center;
}

.list_item img {

}

.list_item strong {
	display: block;
	@include boldFontStack();
	padding-top: 5px;
	@include breakpoint(normal-screen) {
		margin: 10px 0px 10px 0px;
	}
}

.list_item span {
	display: block;
	@include altProseStack();
	text-align: left;
	font-weight: 300;
	///font-size: 90%;
}

/* --------------- PTA ---------------*/

.ptaprograms {

}

.pta li {

}

.vimeo {
	width: 100%;
	height: 200px;
	@include breakpoint(condensed-screen) {
		height: 300px;
	}
	@include breakpoint(tablet-screen) {
		height: 400px;
	}
}

.ptamission {
	display: inline-block;
	border-bottom: none;
	text-align: center;
	width: 100%;
	font-size: 80%;
}

.ptamission:hover {
	border-bottom: none;
	color: $darkBlue;
}

/* --------------- VOLUNTEER WAYS ---------------*/

.ways p {
	text-align: center;
}

/* --------------- CUSTOM ICONS ---------------*/

.shield::before {
    display: inline-block;
    ///vertical-align: middle;
    line-height: 125px;
    font-size: 50px;
    color: $darkBlue;
    @include breakpoint(condensed-screen) {
		font-size: 55px;
    }
    @include breakpoint(normal-screen) {
    	font-size: 60px;
    }
}

.grey_list .shield::before {
	color: $white;
}

.teacher::before {
    content: url("/images/icons/icon_teacher.png");
}

.piggy::before {
    content: url("/images/icons/icon_piggy.png");
}

.programming::before {
    content: url("/images/icons/icon_graduate.png");
}

.graduate::before {
    content: url("/images/icons/icon_whitecap.png");
}

.sustain::before {
    content: url("/images/icons/icon_sustain.png");
}

.community::before {
    content: url("/images/icons/icon_community.png");
}

.megaphone::before {
    content: url("/images/icons/icon_megaphone.png");
}

.school::before {
    content: url("/images/icons/icon_school.png");
}

.network::before {
    content: url("/images/icons/icon_network.png");
}

.tools::before {
    content: url("/images/icons/icon_tools.png");
}