
.faqlist {
	background-color: $grey;
	background-image: url('/images/uneditable/placeholder.jpg');
	    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
      background-attachment: fixed;
      border-radius: 0px;
}

.faqlist ul {
	margin-top: 50px;
	@include breakpoint(condensed-screen) {
		margin-top: inherit;
	}
}

.faqlist li {
	box-sizing: border-box;
	background-color: $white;
	padding: 2% 4%;
	border-radius: $borderRadius;
	///border: 3px solid $grey;
	@include breakpoint(condensed-screen) {
		padding: 30px 4%;
	}
	@include breakpoint(normal-screen) {
		padding: 50px 4%;
	}
}

.faqlist h3 {
	display: none;
	@include breakpoint(normal-screen) {
		display: block;
	}
}

.faqlist .shieldDesc {
	padding-left: 5px;
}

.faq a.question {
	color: $white;
	display: block;
	margin: 10px 0px -20px 0px;
	padding: 20px 50px 20px 25px;
	@include breakpoint(tablet-screen) {
		margin: 35px 0px -20px 0px;
		padding: 20px 100px 20px 25px;
	}
	@include altProseStack();
	font-weight: 400;
	font-size: 100%;
	background-color: $darkBlue;
	border-radius: $borderRadius;
	text-decoration: none;
	position: relative;
	border: none !important;
}

.question:hover {
	opacity: 0.9;
	border: none !important;
}

.alt.faq a.question {
	background-color: $lightBlue;
	color: $darkBlue;
}

.faq .answer li {
	background-color: transparent !important;
	text-align: left;
	font-family: 'Open Sans';
	margin: 0px 0px 0px 30px;
	@include breakpoint(tablet-screen) {
		margin: 0px 0px 0px 50px;
	}
}

.faq .answer ul {
	width: 100% !important;
	list-style: square;
	font-size: 100%;
	@include breakpoint(tablet-screen) {
		width: 80% !important;
	}
}

.arrow-down {
  &::after {
    content: '\0041';
    padding-left: 0.5em;
    position: absolute;
    right: 25px;
    top: 50%;
	transform: translateY(-50%);
	color: $white;
	font: normal normal normal 1em/1 'fnse';
  }
}

.arrow-right {
  &::after {
    content: '\0042';
    padding-left: 0.5em;
    position: absolute;
    right: 25px;
    top: 50%;
	transform: translateY(-50%);
	@include transition(all 0.3s ease-out);
	color: $white;
	font: normal normal normal 1em/1 'fnse';
  }
}

.alt .arrow-right {
	&::after {
		color: $darkBlue !important; 
	}
}
.alt .arrow-down {
	&::after {
		color: $blue !important; 
	}
}

.alt h3 {
	color: $white;
}

.answer {
	margin-top: 35px;
}

.alt .answer {
	color: $white;
}

.faq .toc {
	@include flex();
	flex-direction: row;
	align-items: flex-start;
}

.faq ul {
	@extend %clearfix;
	list-style: none;
	@include flex();
	flex-direction: column !important;
	flex-wrap: wrap;
	width: 50% !important;
	padding-left: 0px;
	text-align: left;
}

.faq li {
	border-radius: $borderRadius;
	///border: 3px solid $grey;
	padding: 10px 20px;
	margin: 10px 20px;
	background-color: $lightGrey;
	@include altProseStack();
}

.hide {
	display: none;
}

