@import "typography.scss";

input[type=text], select, textarea {
    width: 250px;
    padding: 15px 20px 10px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100px;
    background-color: $darkYellow;
    color: white;
    padding: 7px 20px;
    border: none;
    cursor: pointer;

    @include heavyFontStack;

    text-transform: uppercase;
}