@import "constants.scss";

/// Credit: https://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
  @if $point == large-screen {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == normal-screen {
    @media (min-width: 48em) { @content; }
  }
  @else if $point == condensed-screen {
    @media (min-width: 35em)  { @content; }
  }
}

.container {
    margin: 0px auto;
    max-width: $maxWidth;
    padding: 0px 10px;
    @include breakpoint(condensed-screen) { 
      padding: 0px 30px;
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }
    @include breakpoint(normal-screen) {
      padding: 0px 30px; 
    }
    @include breakpoint(large-screen) { 
      padding: 0px 10px;
    }
}

@mixin flex() {
   	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/// Use with @extend %clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

#subsections {
  @include flex;
  flex-direction: column;
}

/// For titles of subsections, center them on mobile but left align on web
.subsection h3 {
  width: 100%;
  text-align: center;
  @include breakpoint(condensed-screen) { 
      width: 100%;
      text-align: left; 
  }
}

