@import "constants.scss";

.container {
    margin: 0px auto;
    max-width: $maxWidth;
    padding: 0px 10px;
}

@media screen and (min-width: 35em) {
  .container {
    padding: 0px 30px;
  }
}

@media screen and (min-width: 1200px) {

  .container {
    padding: 0px 10px;
  }

}

@mixin flex() {
   	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/// Use with @extend %clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/// For titles of subsections, center them on mobile but left align on web
.subsection h3 {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 35em) {

  .subsection h3 {
    width: 100%;
    text-align: left;
  }

}