@import "../core/core.scss";

/*----------------------- Navigation Styles ------------------------------ */

/// Credit: https://hackernoon.com/the-ultimate-css-battle-grid-vs-flexbox-d40da0449faf

header {
    @include flex();
    max-width: 100%;
    margin: 0px auto 0px auto;
    @include heavyFontStack();
}

h1 {
    margin: auto 0px;
    padding: 0px 0px 0px 20px;
}

.navigation {
    width: 100%;
    z-index: 100;
    position: -webkit-sticky;
  	position: sticky;
  	top: 0px;
  	background-color: $lightGrey;
}

.nslogo {
	background-color: $lightGrey;
	border-radius: $borderRadius;
	padding: 15px 20px 10px 20px;
}

.donate {
	margin: auto 25px !important;
	height: 25px;
	width: 195px;
}


/*----------------------- Hamburger Functionality ------------------------------ */

/// Credit: https://codepen.io/bradfrost/pen/sHvaz

$mobileNavMenuVerticalOffset: 30px;

div.menu-link {
    padding: 1em;
    color: $darkBlue;
}

// Default plans for small screen. Nav is hidden, and will animate when height changes.
nav[role=navigation] {
    @extend %clearfix;
    overflow: hidden;
    max-height: 0;
    @include transition(all 0.3s ease-out);
    width: 100%;
    margin: auto 0px;
    @include proseFontStack();
    font-weight: 300;
}

// When we want nav to appear, change the height
nav[role=navigation].open {
    max-height: 15em;
    margin-bottom: 10px;
    margin-top: $mobileNavMenuVerticalOffset;
}

nav[role=navigation] ul {
    padding: 0;
    letter-spacing: 1.1px;

    @include breakpoint(condensed-screen) {
        font-size: 80%;
    }

    @include breakpoint(normal-screen) {
        font-size: 100%;
    }

    @include breakpoint(large-screen) {
        font-size: 80%;
    }
}

nav[role=navigation] li {
    display: inline-block;
    margin: 0 1em;
}

nav[role=navigation] li a {
    display: inline-block;
    padding: 0.8em 0px;
    color: $darkBlue;
    ///text-transform: uppercase;
    text-decoration: none;
    text-align: right;
}

nav[role=navigation] li img {
    margin-bottom: -8px;
}

// Style for larger screens. Hide the menu button, and show the normal navigation menu.
@media screen and (min-width: 35em) {
    div.menu-link {
        display: none;
    }

    nav[role=navigation] {
        max-height: none;
        margin: auto 0px;
    }

    nav[role=navigation] ul {
        margin: auto 0px;
        border: 0;
        text-align: right;
    }

    nav[role=navigation] li a {
        border: 0;
    }
}

/*----------------- Hamburger Animation -----------------*/

/// Credit: https://codepen.io/mblode/pen/evjfn


@mixin btn($left, $top) {
    width: 20px;
    top: $top;
    left: $left;
    transition-duration: 0.5s;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 25px;
    background-color: $black;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $black;
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $black;
    content: "";
    top: $top;
}

div.menu-link {
    @include btn(120px, 100px);

    .icon {
        @include icon(4px, 30px);

        &:before {
            @include icon-before(4px, 30px, -10px);
        }

        &:after {
            @include icon-after(4px, 30px, 10px);
        }
    }

    &.open {
        .icon {
            transition-duration: 0.5s;
            background: transparent;

            &:before {
                transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
            }

            &:after {
                transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}