<section class="carousel {{ .Params.class_name }} module padded-module">

	<div class="container">

		<h3 class="center white">{{ .Title }}</h3>

		<p class="white-font">{{ .Description }}</p>

		<div class="sample-projects">

			{{ range $key, $value := (index .Site.Taxonomies.tags  .Params.data_source ) }}
				<div class="project {{ if eq $key 1 }}center-project{{ end }}">
					<img class="projectImage" src="{{ .Params.image }}" />
					<h4>{{ .Title }}</h4>
					<p>{{ .Description }}</p>
					<a href="#" class="button blue roller">MORE</a>
				</div>
			{{ end }}

		</div>

		<div class="dotstyle dotstyle-fillup">
			<ul>
				<li class="current"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
			</ul>
		</div>

	</div>

</section>