<section class="carousel {{ .Params.class_name }} module padded-module">

	<div class="container">

		<h3 class="center white">{{ .Title }}</h3>

		<p class="white-font">{{ .Description }}</p>

		<div class="sample-projects">

			{{ range $key, $value := .Params.list_items }}
				<div class="project {{ if eq $key 1 }}center-project{{ end }}">
					<img class="projectImage" src="{{ $value.image }}" />
					<h4>{{ $value.title }}</h4>
					<p>{{ $value.description }}</p>
					{{ if isset $value "link" }}
						<a href="{{ $value.link }}" class="button blue more">MORE</a>
					{{ end }}
				</div>
			{{ end }}

		</div>

		<div class="dotstyle dotstyle-fillup">
			<ul>
				<li class="current"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
			</ul>
		</div>

	</div>

</section>