<section class="center_list  center {{ .Params.class_name }} {{ .Params.color }} module padded-module" id="{{ replace .Title " " "" }}">

	<div class="container">

		{{ partial "module_header.html" . }}

		<p class="desc">{{ .Description | safeHTML }}</p>

		<ul>
			{{ range $key, $value := .Params.list_items }}
				<li class="list_item triggerMe {{ if isset $value "link" }}hasButton{{ end }}">
					<div class="shield {{ $value.class }}"></div>
					<div class="shieldDesc">
						<strong>{{ $value.title }}</strong>
						<span>{{ $value.description }}</span>
					</div>
					{{ if isset $value "link" }}
					<div class="shieldCTA">
						<a href="{{ $value.link }}" class="button blue more triggerMe">MORE</a>
					</div>
					{{ end }}				
				</li>
			{{ end }}
		</ul>

		{{ .Content }}

		{{ if and (isset .Params "button") (ne .Params.button "") }}
			<a href="{{ .Params.link }}" class="button blue {{ .Params.button_icon }} triggerMe">{{ .Params.button}}</a>
		{{ end }}

	</div>

</section>