<section class="center_list {{ .Params.class_name }} {{ .Params.color }} module padded-module">

	<div class="container">

		<h3 class="center">{{ .Title }}</h3>

		<p class="desc">{{ .Description | safeHTML }}</p>

		<ul>
			{{ range $key, $value := .Params.list_items }}
				<li class="list_item">
					<div>
						<div class="shield {{ $value.class }}"></div>
						<strong>{{ $value.title }}</strong>
						<span>{{ $value.description }}</span>
					</div>
				</li>
			{{ end }}
		</ul>

		{{ .Content }}

		{{ if isset .Params "button" }}
			<a href="{{ .Params.link }}" class="button blue {{ .Params.button_icon }}">{{ .Params.button}}</a>
		{{ end }}

	</div>

</section>