{{ partial "hero.html" . }}


<section class="module text_left faq">

	<div class="container toc">

		<ul> 
			{{ range $key, $value := .Site.Taxonomies.tags.fnsefaq }}
				<li><a href="#">{{ $value.Title }}</a></li>
			{{ end }}
		</ul>

		<ul> 
			{{ range $key, $value := .Site.Taxonomies.tags.nsefaq }}
				<li><a href="#">{{ $value.Title }}</a></li>
			{{ end }}
		</ul>

	</div>

</section>


<section class="module text_left faq grey_module padded-module">

	<div class="container">

		<div class="copy left">

			{{ range $key, $value := .Site.Taxonomies.tags.fnsefaq }}

				<h3>Questions About FNSE</h3>

				<p><strong>{{ $value.Title }}</strong></p>
				<p>{{ $value.Content }}</p><a href="#">Back to top</a>

			{{ end }}

		</div>

	</div>

</section>

<section class="module text_left faq">

	<div class="container">

		<div class="copy left">

			{{ range $key, $value := .Site.Taxonomies.tags.nsefaq }}

				<h3>Questions About North Shore Elementary</h3>

				<p><strong>{{ $value.Title }}</strong></p>
				<p>{{ $value.Content }}</p><a href="#">Back to top</a>

			{{ end }}

		</div>

	</div>

</section>


{{ range $key, $value := .Params.modules }}
	{{ range where $.Site.Pages ".Params.id" $value }}

		{{ $.Scratch.Set "noButton" "" }}

		{{ $type := .Params.module_type }}

		{{ if eq .Params.link $.Page.Params.url }}
			{{ $.Scratch.Set "noButton" "no_button" }}
		{{ end }}

		{{ if (eq $type "text_left") }}
		    {{ partial "text_left.html" (dict "module" . "buttonClass" ($.Scratch.Get "noButton")) }}
		{{ end }}

		{{ if (eq $type "text_right") }}
		    {{ partial "text_right.html"  (dict "module" . "buttonClass" ($.Scratch.Get "noButton"))  }}
		{{ end }}

		{{ if (eq $type "half_half") }}
		    {{ partial "half_half.html"  (dict "module" . "buttonClass" ($.Scratch.Get "noButton"))  }}
		{{ end }}

		{{ if (eq $type "center_list") }}
		    {{ partial "center_list.html" . }}
		{{ end }}

		{{ if (eq $type "testimonial") }}
		    {{ partial "quote.html" . }}
		{{ end }}

		{{ if (eq $type "carousel") }}
		    {{ partial "carousel.html"  . }}
		{{ end }}
		
	{{ end }}
{{ end }}

{{ partial "footer.html" . }}