{{ partial "hero.html" . }}

<section class="module text_left faq">

	<div class="container">

		<div class="copy left">

			<h3>Questions About FNSE</h3>

			{{ range $key, $value := .Site.Taxonomies.tags.fnsefaq }}

				<p><a href="" class="question arrow-right">{{ $value.Title }}</a></p>
				<div class="answer hide">{{ $value.Content }}</div>

			{{ end }}

		</div>

	</div>

</section>

<section class="module text_left faq blue_module padded-module alt">

	<div class="container">

		<div class="copy left">

			<h3>Questions About North Shore Elementary</h3>

			{{ range $key, $value := .Site.Taxonomies.tags.nsefaq }}

				<p><a href="" class="question arrow-right">{{ $value.Title }}</a></p>
				<div class="answer hide">{{ $value.Content }}</div>

			{{ end }}

		</div>

	</div>

</section>


{{ range $key, $value := .Params.modules }}
	{{ range where $.Site.Pages ".Params.id" $value }}

		{{ $.Scratch.Set "noButton" "" }}

		{{ $type := .Params.module_type }}

		{{ if eq .Params.link $.Page.Params.url }}
			{{ $.Scratch.Set "noButton" "no_button" }}
		{{ end }}

		{{ if (eq $type "text_left") }}
		    {{ partial "text_left.html" (dict "module" . "buttonClass" ($.Scratch.Get "noButton")) }}
		{{ end }}

		{{ if (eq $type "text_right") }}
		    {{ partial "text_right.html"  (dict "module" . "buttonClass" ($.Scratch.Get "noButton"))  }}
		{{ end }}

		{{ if (eq $type "half_half") }}
		    {{ partial "half_half.html"  (dict "module" . "buttonClass" ($.Scratch.Get "noButton"))  }}
		{{ end }}

		{{ if (eq $type "center_list") }}
		    {{ partial "center_list.html" . }}
		{{ end }}

		{{ if (eq $type "testimonial") }}
		    {{ partial "quote.html" . }}
		{{ end }}

		{{ if (eq $type "carousel") }}
		    {{ partial "carousel.html"  . }}
		{{ end }}
		
	{{ end }}
{{ end }}

{{ partial "footer.html" . }}