
<section class="center_list grey_list pta padded-module faqlist center">

	<div class="container">

		<h3 class="">Frequently Asked Questions</h3>

		<ul>
			<li class="list_item">
				<div>
					<div class="shield sustain"></div>
					<strong>FNSE</strong>
					<span>Have questions about our organization, donations, meetings, or other conerns?</span>
					<a href="#QuestionsAboutFNSE" class="button blue more triggerMe">MORE</a>
				</div>
			</li>
			<li class="list_item">
				<div>
					<div class="shield graduate"></div>
					<strong>North Shore Elementary</strong>
					<span>Looking to learn more about the school, programs, staff and what's in store?</span>
					<a href="#QuestionsAboutNorthShoreElementary" class="button blue more triggerMe">MORE</a>
				</div>
			</li>
			<li class="list_item">
				<div>
					<div class="shield community"></div>
					<strong>Contact Us</strong>
					<span>Please reach out to us if one of your questions wasn't answered, or with feedback.</span>
					<a href="#contact" class="button blue more triggerMe">MORE</a>
				</div>
			</li>
		</ul>

	</div>

</section>

<div class="castle-wall">&nbsp;</div>

<section class="module text_left faq" id="QuestionsAboutFNSE">

	<div class="container">

		<div class="copy left">

			<h3>Questions About FNSE</h3>

			{{ range $key, $value := .Site.Taxonomies.tags.fnsefaq }}

				<p><a href="" class="question arrow-right" id="fnse{{ $key }}">{{ $value.Title }}</a></p>
				<div class="answer hide">{{ $value.Content }}</div>

			{{ end }}

		</div>

	</div>

</section>

<section class="module text_left faq blue_module padded-module alt" id="QuestionsAboutNorthShoreElementary">

	<div class="container">

		<div class="copy left">

			<h3>Questions About North Shore Elementary</h3>

			{{ range $key, $value := .Site.Taxonomies.tags.nsefaq }}

				<p><a href="" class="question arrow-right" id="nse{{ $key }}">{{ $value.Title }}</a></p>
				<div class="answer hide">{{ $value.Content }}</div>

			{{ end }}

		</div>

	</div>

</section>


{{ range $key, $value := .Params.modules }}
	{{ range where $.Site.Pages ".Params.id" $value }}

		{{ $.Scratch.Set "noButton" "" }}

		{{ $type := .Params.module_type }}

		{{ if eq .Params.link $.Page.Params.url }}
			{{ $.Scratch.Set "noButton" "no_button" }}
		{{ end }}

		{{ if (eq $type "text_left") }}
		    {{ partial "text_left.html" (dict "module" . "buttonClass" ($.Scratch.Get "noButton")) }}
		{{ end }}

		{{ if (eq $type "text_right") }}
		    {{ partial "text_right.html"  (dict "module" . "buttonClass" ($.Scratch.Get "noButton"))  }}
		{{ end }}

		{{ if (eq $type "half_half") }}
		    {{ partial "half_half.html"  (dict "module" . "buttonClass" ($.Scratch.Get "noButton"))  }}
		{{ end }}

		{{ if (eq $type "center_list") }}
		    {{ partial "center_list.html" . }}
		{{ end }}

		{{ if (eq $type "testimonial") }}
		    {{ partial "quote.html" . }}
		{{ end }}

		{{ if (eq $type "carousel") }}
		    {{ partial "carousel.html"  . }}
		{{ end }}
		
	{{ end }}
{{ end }}

{{ partial "footer.html" . }}