<section class="footer module no-margin">

	<div class="container">

		<div class="copy left">

			<h3 class="white">Get in Touch</h3>

			<form>

			<input type="text" placeholder="Name" />

			<input type="text" placeholder="Email" />

			<textarea placeholder="Your message or questions."></textarea>

			<a href="#" class="button blue mail">SUBMIT</a>

			<div class="clear"></div>

			</form>

		</div>

		<div class="details">
			<img src="/images/fnselogo.png" />
			<div class="contact">
				<strong>Friends of North Shore Elementary</strong>
				<span class="nonprofit"><i>a 501(c)3 non proﬁt</i></span>

				<span class="address">This is a street address</span>
				<span>St. Petersburg, FL 33704</span>
			</div>
		</div>

	</div>

</section>