<section id="contact" class="footer module no-margin">

	<div class="container">

		<div class="copy left">

			<h3 class="white">Get in Touch</h3>

			<form>

			<input type="text" placeholder="Name" />

			<input type="text" placeholder="Email" />

			<textarea placeholder="Your message or questions."></textarea>

			<a href="#" class="button blue mail triggerMe">SUBMIT</a>

			<div class="clear"></div>

			</form>

		</div>

		<div class="details">
			<div class="contact">
				<strong>Friends of North Shore Elementary</strong>
				<span class="nonprofit"><i>a 501(c)3 non proﬁt</i></span>
				<span class="ein">EIN 81-0911338</span>

				<span class="address">This is a street address</span>
				<span>St. Petersburg, FL 33704</span>
			</div>
		</div>

	</div>

</section>

<section class="sitecontent no-margin">

		<div class="logo"></div>

		<div class="listcontent">
			<ul> About Friends
				<li><a href="/about/#HowWeStarted">General Information</a></li>
				<li><a href="/volunteer">How to Get Involved</a></li>
				<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BW63VK9CNRBC4" target="_blank" rel="noopener" title="Donate to FNSE">Donate</a></li>
				<li class="fnsefb"><a href="https://www.facebook.com/groups/509722892532049/" target="_blank" rel="noopener" title="Follow FNSE on Facebook">Find us on <img src="/images/uneditable/facebook.png" alt="Facebook Logo" /></a></li>
			</ul>

			<ul> About the School
				<li><a href="/why#TheSchoolGrade">The School Grade</a></li>
				<li><a href="/nse#7<sup>the</sup>Hour">After School Activities</a></li>
				<li><a href="/nse#ParentTeacherAssociation">PTA</a></li>
				<li><a href="/nse#CastleApprenticeship">Project Based Learning</a></li>
				<li><a href="/nse#ExceptionStudents">Gifted Program</a></li>
			</ul>

			<ul> Concerns
				<li><a href="/why">Why Choose North Shore?</a></li>
				<li><a href="/faq/#fnse4">How Are Donations Used?</a></li>
				<li><a href="/faq">Frequently Asked Questions</a></li>
			</ul>

			 <div class="nsfooter">
  				<a href="https://www.pcsb.org/northshore-es" target="_blank" rel="noopener" title="North Shore Elementary Website"><img src="/images/uneditable/NorthShoreLogo150.png" alt="North Shore Logo" /></a>
  				<div class="socialicons">
  				<a href="https://www.facebook.com/NSESKnights" target="_blank" rel="noopener" title="North Shore Elementary on Facebook"><img src="/images/uneditable/facebook.png" alt="Facebook Logo" /></a>
  				<a href="https://www.instagram.com/northshoreelem/" target="_blank" rel="noopener" title="North Shore Elementary on Instagram"><img src="/images/uneditable/instagram.png" alt="Instagram Logo" /></a>
  				<a href="https://twitter.com/NorthShoreElem" target="_blank" rel="noopener" title="North Shore Elementary on Twitter"><img src="/images/uneditable/twitter.png" alt="Twitter Logo" /></a>
  				</div>
  			</div>

		</div>


</section>

<section class="credits">


		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener">CC 3.0 BY</a></div>

</section>