<section class="footer module no-margin">

	<div class="container">

		<div class="copy left">

			<h3 class="white">Get in Touch</h3>

			<form>

			<input type="text" placeholder="Name" />

			<input type="text" placeholder="Email" />

			<textarea placeholder="Your message or questions."></textarea>

			<a href="#" class="button blue mail">SUBMIT</a>

			<div class="clear"></div>

			</form>

		</div>

		<div class="details">
			<div class="contact">
				<strong>Friends of North Shore Elementary</strong>
				<span class="nonprofit"><i>a 501(c)3 non proﬁt</i></span>
				<span class="ein">EIN 81-0911338</span>

				<span class="address">This is a street address</span>
				<span>St. Petersburg, FL 33704</span>
			</div>
		</div>

	</div>

</section>

<section class="sitecontent">

		<img src="/images/fnselogo.png" />

		<ul> About Friends
			<li><a href="3">General Information</a></li>
			<li><a href="3">How to Get Involved</a></li>
			<li><a href="3">Donate</a></li>
		</ul>

		<ul> About the School
			<li><a href="3">The School Grade</a></li>
			<li><a href="3">After School Activities</a></li>
			<li><a href="3">PTA</a></li>
			<li><a href="3">Project Based Learning</a></li>
			<li><a href="3">Gifted Program</a></li>
		</ul>

		<ul> Concerns
			<li><a href="3">Why Choose North Shore?</a></li>
			<li><a href="3">How Are Donations Used?</a></li>
			<li><a href="3">Frequently Asked Questions</a></li>
		</ul>

		<ul> Social
			<li><a href="3">FNSE on Facebook</a></li>
			<li><a href="3">North Shore Elementary Website</a></li>
			<li><a href="3">North Shore Elementary Facebook</a></li>
			<li><a href="3">North Shore Elementary Twitter</a></li>
		</ul>


</section>