<section class="friends module">

	<div class="container">

		<div class="copy">

			<h3>About Friends</h3>

			<img src="/images/KidsBanner.jpg" class="coreImage" />

			<p>Friends of North Shore Elementary (FNSE) is here to partner with the school, families, and faculty to identify needs and provide sustainable resources to ensure it is a dynamic, engaging and successful public school that proudly serves families in the Northeast region of St. Petersburg. Our mission is for North Shore Elementary to become the first choice for families who live within the zoned district. The only way we can do this is with the help of our community.</p>

			<a href="#" class="button blue hand">MEET US</a>

		</div>

	</div>

</section>