<section class="half_half module no-margin {{ $.module.Params.class_name }} {{ $.buttonClass }} {{ $.module.Params.alignment }}">

	<div class="leftHalfContainer">
		<div class="wrapper">

			<h3>{{ $.module.Title }}</h3>

			<p>{{ $.module.Content }}</p>

			{{ if eq $.buttonClass "" }}
				{{ if isset $.module.Params "button" }}
					<a href="{{ $.module.Params.link }}" class="button blue {{ $.module.Params.button_icon }}">{{ $.module.Params.button}}</a>
				{{ end }}
			{{ end }}

		</div>
	</div>

	<div class="rightHalfContainer">
		<img src="{{ $.module.Params.image }}" class="halfImage" />
	</div>

</section>