<section class="half_half module no-margin {{ $.module.Params.class_name }} {{ $.buttonClass }} {{ $.module.Params.alignment }}" id="{{ replace $.module.Title " " "" }}">

	<div class="leftHalfContainer">
		<div class="wrapper">

			{{ partial "module_header.html" $.module }}

			{{ $.module.Content }}

			{{ if eq $.buttonClass "" }}
				{{ if isset $.module.Params "button" }}
					<a href="{{ $.module.Params.link }}" class="button blue {{ $.module.Params.button_icon }}  triggerMe">{{ $.module.Params.button}}</a>
				{{ end }}
			{{ end }}

		</div>
	</div>


	{{ if eq $.module.Params.class_name "intouch" }}
		<div class="rightHalfContainer">
			<div class="grid">
				<div class="grid_item grid1"></div>
				<div class="grid_item grid2"></div>
				<div class="grid_item grid3"></div>
				<div class="grid_item grid4"></div>
				<div class="grid_item grid5"></div>
				<div class="grid_item grid6"></div>
				<div class="grid_item grid7"></div>
				<div class="grid_item grid8"></div>
				<div class="grid_item grid9"></div>
			</div>
		</div>
	{{ else if eq $.module.Params.class_name "mapkit" }}
		<div class="rightHalfContainer">
			<div id="map"></div> 
		</div>
	{{ else }}
		<div class="rightHalfContainer triggerMe lazy" data-src="{{ $.module.Params.image }}">

		</div>
	{{ end }}


</section>