<div class="hero">

	<div class="container">

		<div class="padder">

		<h2 class="triggerMe"><mark>Friends of North Shore Elementary</mark></h2>

		<p>promoting our local gem in St. Petersburg, FL.</p>

		<section class="callToAction">
			<blockquote>We've raised <b>$1,300</b> for after school activites.<br /> Help us reach our goal of <b>$3,000!</b></blockquote>


			<div class="content">
				<a href="" class="button">DONATE</a>
				<a href="" class="button nobg">LEARN MORE</a>
			</div>
		</section>

		</div>

	</div>

</div>

<section class="mobileCallouts">

	<div class="volunteer">
		<a href="#volunteer">Volunteer</a>
	</div>

	<div class="featured">
		<a href="">Donate</a>
	</div>

	<div class="share">
		<a href="#share">Share</a>
	</div>

</section>
