{{ if isset .Params "hero_title" }}

{{ $splitImageName := split .Params.image "/" }}
{{ $completeFile := index (last 1 $splitImageName) 0 }}
{{ $fileName := index (split $completeFile ".") 0 }}
{{ $fileType := index (split $completeFile ".") 1 }}

<style scoped>
.hero_image {
  background-image: url('/images/responsive/{{ $fileName }}@768.{{ $fileType }}');
}
@media
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
  .hero_image {
    background-image: url('/images/responsive/{{ $fileName }}@1080.{{ $fileType }}');
  }
}
@media
  (min-width: 800px) {
  .hero_image {
    background-image: url('/images/responsive/{{ $fileName }}@1440.{{ $fileType }}');
  }
}
@media
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 800px), 
  (min-resolution: 192dpi) and (min-width: 800px),
  (min-width:1440px) {
  .hero_image {
    background-image: url('/images/responsive/{{ $fileName }}@1920.{{ $fileType }}');
  }
}

</style>

<section class="hero darken-pseudo {{ .Params.hero_class }} {{ if (not (isset .Params "hero_button_text")) }}nocta{{end}} hero_image">

	<div class="container">

		<div class="content">
			<div class="content-bottom">
				<h2>{{ .Params.hero_title }}</h2>
				<p>{{ .Params.hero_subtitle }}</p>
				{{ if and (isset .Params "hero_button_text") (ne .Params.hero_button_text "") }}
					<a href="{{ .Params.hero_link }}" class="button blue {{ .Params.hero_button_icon }} triggerMe">{{ .Params.hero_button_text }}</a>
				{{ end }}
			</div>
		</div>

	</div>

</section>

<div class="castle-wall">&nbsp;</div>
{{ end }}