<!--<figure class="triggerMe">
<picture class="coreImage triggerMe">
	<source media="(min-width: 1024px)" data-srcset="{{ .Params.image }}" />
	<source media="(max-width: 1023px)" data-srcset="{{ .Params.image }}" />
	<img class="lazy" alt="Image Description" data-src="{{ .Params.image }}">
 </picture>
<figcaption>{{ .Params.caption }}</figcaption>
</figure>-->

{{ $splitImageName := split .Params.image "/" }}
{{ $completeFile := index (last 1 $splitImageName) 0 }}
{{ $fileName := index (split $completeFile ".") 0 }}
{{ $fileType := index (split $completeFile ".") 1 }}

<figure class="triggerMe">
<img class="coreImage triggerMe lazy" data-src="/images/responsive/{{ $fileName }}@768.{{ $fileType }}"
     data-srcset="/images/responsive/{{ $fileName }}@1080.{{ $fileType }} 1080w,
             /images/responsive/{{ $fileName }}@768.{{ $fileType }} 768w"
     data-sizes="100vw,
            45vw" />
 	<figcaption>
 		{{ .Params.caption }}
 	</figcaption>
</figure>
