{{ $splitImageName := split .Params.image "/" }}
{{ $completeFile := index (last 1 $splitImageName) 0 }}
{{ $fileName := index (split $completeFile ".") 0 }}
{{ $fileType := index (split $completeFile ".") 1 }}
{{ $cleanName := replace $fileName " " "%20" }}

<noscript>

<style>
	figure.js {
		display: none;
	}
</style>

	<figure class="triggeredCSS3">
	<img class="coreImage triggeredCSS3" src="/images/responsive/{{ $cleanName }}@768.{{ $fileType }}" />
	 	<figcaption>
	 		{{ .Params.caption }}
	 	</figcaption>
	</figure>

</noscript>

<figure class="js triggerMe">
	<div class="image-container">
		<img class="coreImage triggerMe lazy" data-src="/images/responsive/{{ $cleanName }}@768.{{ $fileType }}"
     		data-srcset="/images/responsive/{{ $cleanName }}@1080.{{ $fileType }} 1080w,
             /images/responsive/{{ $cleanName }}@768.{{ $fileType }} 768w"
     		data-sizes="(min-width: 35em) 100vw,
     			45vw" />
    </div>
 	<figcaption>
 		{{ .Params.caption }}
 	</figcaption>
</figure>
