<header class="navigation one-edge-shadow">

	<h1><img src="/images/FNSETextLogo.png" alt="Friends of North Shore Elementary"  /></h1>

	<a href="#" class="button blueGreen heart donate">DONATE</a>

	<nav id="menu" role="navigation">
	    <ul class="nav">
	        <li><a href="#">Explore</a>
	        	  <ul class="dropdown one-edge-shadow explore">
				      <li><a href="#">Why North Shore?</a></li>
				      <li><a href="#">Events</a></li>
				      <li><a href="#">Our projects</a></li>
       			 </ul>
	        </li>

	        <li><a href="#">Volunteer</a>
	   
	        </li>
	        <li><a href="#">About</a>
	        	 <ul class="dropdown one-edge-shadow about">
				      <li><a href="#">Friends</a></li>
				      <li><a href="#">The School</a></li>
				      <li><a href="#">FAQ</a></li>
       			 </ul>
       		</li>
	        <li><a href="#"><img src="/images/facebook.png" /></a></li>
	    </ul>
	</nav>

	<div class="menu-link">
   		<div class="icon"></div>
  	</div>

  	<div class="nslogo">
  		<img src="/images/NorthShoreLogo.png" />
  	</div>

</header>
