<header class="navigation">

	<h1><a href="/"><img src="/images/FNSETextLogo.png" alt="Friends of North Shore Elementary"  /></a></h1>

	<a href="#" class="button purple heart donate">DONATE</a>

	<nav id="menu" role="navigation">
	    <ul class="nav">
	        <li><a href="/why" class="topmenu">Why North Shore?</a></li>
			<li><a href="/about" class="topmenu">About Us</a></li>
			<li><a href="/nse" class="topmenu">The School</a></li>
			<li><a href="/volunteer" class="topmenu">Get Involved</a></li>
			<li><a href="/faq" class="topmenu">FAQ</a></li>
	        <li class="facebook"><a href="https://www.facebook.com/groups/509722892532049/" target="_blank"><img src="/images/facebook.png" /></a></li>
	    </ul>
	</nav>

	<div class="menu-link">
   		<div class="icon"></div>
  	</div>

  	<div class="nslogo">
  		<a href="https://www.pcsb.org/northshore-es" target="_blank"><img src="/images/NorthShoreLogo.png" /></a>
  	</div>

</header>
