<header class="navigation">

	<h1><img src="/images/FNSETextLogo.png" alt="Friends of North Shore Elementary"  /></h1>

	<a href="#" class="button blueGreen heart donate">DONATE</a>

	<nav id="menu" role="navigation">
	    <ul>
	        <li><a href="#about">Explore</a></li>
	        <li><a href="#volunteer">Volunteer</a></li>
	        <li><a href="#why">About</a></li>
	        <li><a href="#contact"><img src="/images/facebook.png" /></a></li>
	    </ul>
	</nav>

	<div class="menu-link">
   		<div class="icon"></div>
  	</div>

  	<div class="nslogo">
  		<img src="/images/NorthShoreLogo.png" />
  	</div>

</header>
