<section class="projects module">

	<div class="container">

		<h3 class="center">Our Projects</h3>

		<div class="sample-projects">

			<div class="project">
				<div class="projectImage lunch">&nbsp;</div>
				<h4>Healthy Lunches</h4>
				<p>We’ve brought more options to the lunch room through the healthy lunch iniative program.</p>
			</div>

			<div class="project center-project">
				<div class="projectImage garden">&nbsp;</div>
				<h4>Gardening</h4>
				<p>Students can now elect to spend time outdoors and garden during their free activites hour.</p>
			</div>

			<div class="project">
				<div class="projectImage afterschool">&nbsp;</div>
				<h4>After School Activities</h4>
				<p>Over 8 after school programs have been added to allow children to explore their interests.</p>
			</div>

		</div>

		<p>Friends, the school, and the PTA are constantly trying to push North Shore Elementary forwards.</p>

		<a href="#" class="button blue roller">WHAT WE'RE UP TO</a>

	</div>

</section>