{{ $data := (index $.Site.Taxonomies.tags  .Params.data_source ) }}
{{ $randomNumber :=  index (seq ($data | len)  | shuffle) 0 }}
{{ $testimonial := (index $data $randomNumber) }}
<section class="quote module">

	<div class="thirdContainer">
		<div class="headshot">
			<img src="{{ $testimonial.Params.image }}" />
			<strong>{{ $testimonial.Params.name }}</strong>
			<span>{{ $testimonial.Params.role }}</span>
		</div>
	</div>

	<div class="twoThirdContainer hasQuote">
		<blockquote>{{ $testimonial.Params.body }}</blockquote>
	</div>

</section>