{{ $randomNumber :=  index (seq ($.Site.Data.testimonials | len)  | shuffle) 0 }}
{{ $testimonial := (index $.Site.Data.testimonials ($randomNumber | string)) }}

<section class="quote module">

	<div class="thirdContainer">
		<div class="headshot">
			<img src="{{ $testimonial.image }}" />
			<strong>{{ $testimonial.name }}</strong>
			<span>{{ $testimonial.role }}</span>
		</div>
	</div>

	<div class="twoThirdContainer hasQuote">
		<blockquote>{{ $testimonial.body }}</blockquote>
	</div>

</section>