{{ $data := .Params.list_items }}
{{ $randomNumber :=  index (seq ($data | len)  | shuffle) 0 }}
{{ $testimonial := (index $data (sub $randomNumber 1)) }}
<section class="quote module {{ .Params.class_name }}">

	<div class="thirdContainer">
		<div class="headshot">
			<div class="image-container">
				<img src="{{ $testimonial.image }}" data-src="{{ $testimonial.image }}" />
			</div>
			<strong>{{ $testimonial.name }}</strong>
			<span>{{ $testimonial.role }}</span>
		</div>
	</div>

	<div class="twoThirdContainer hasQuote">
		<blockquote>{{ $testimonial.body }}</blockquote>
	</div>

</section>