<section class="text_right module {{ $.module.Params.class_name }} {{ $.buttonClass }}">

	<div class="container">

		<div class="copy right">

			<h3>{{ $.module.Title }}</h3>

			<img src="{{ $.module.Params.image }}" class="coreImage" height="600px;" />

			<p>{{ $.module.Content }}</p>

			{{ if eq $.buttonClass "" }}
				{{ if isset $.module.Params "button" }}
			<a href="$.module.Params.link" class="button blue {{ $.module.Params.button_icon }}">{{ $.module.Params.button}}</a>
				{{ end }}
			{{ end }}

		</div>

	</div>

</section>
