<section class="text_left module {{ $.module.Params.class_name }} {{ $.buttonClass }} {{ $.module.Params.color }}">

	<div class="container">

		<div class="copy left">

			<h3>{{ $.module.Title }}</h3>

			<img src="{{ $.module.Params.image }}" class="coreImage" />

			<p>{{ $.module.Content }}</p>

			{{ if eq $.buttonClass "" }}
				{{ if isset $.module.Params "button" }}
					<a href="{{ $.module.Params.link }}" class="button blue {{ $.module.Params.button_icon }}">{{ $.module.Params.button}}</a>
				{{ end }}
			{{ end }}

		</div>
		
		{{ if isset $.module.Params "list_items" }}
			<ul>
			{{ range $key, $value := $.module.Params.list_items }}
				<li>{{ $value.title }}</li>
			{{ end }}
			</ul>
		{{ end }}

	</div>

</section>