<section class="text_right module {{ $.module.Params.class_name }} {{ $.buttonClass }} {{ $.module.Params.color }}" id="{{ replace $.module.Title " " "" }}">

	<div class="container">

		<div class="copy right">

			{{ partial "module_header.html" $.module }}

			{{ partial "img.html" $.module }}

			{{ $.module.Content }}

			{{ if eq $.buttonClass "" }}
				{{ if and (isset $.module.Params "button") (ne $.module.Params.button "") }}
			<a href="{{ $.module.Params.link }}" class="button blue {{ $.module.Params.button_icon }} triggerMe">{{ $.module.Params.button}}</a>
				{{ end }}
			{{ end }}

		</div>

		{{ if isset $.module.Params "list_items" }}
			{{ $items := $.module.Params.list_items }}
			{{ if gt (len $items) 0 }}
				<ul class="variableList">
				{{ range $key, $value := $items }}
					<li>{{ $value.title }}</li>
				{{ end }}
				</ul>
			{{ end }}
		{{ end }}

	</div>

</section>
