<section class="text_right module {{ $.module.Params.class_name }} {{ $.buttonClass }} {{ $.module.Params.color }}">

	<div class="container">

		<div class="copy right">

			<h3>{{ $.module.Title | safeHTML }}</h3>
			{{ if isset $.module.Params "subtitle" }}
			<span class="subtitle">{{ $.module.Params.subtitle }}</span>
			{{ end }}

			<figure>
				<img src="{{ $.module.Params.image }}" class="coreImage" />
			 	<figcaption>
			 		{{ $.module.Params.caption }}
			 	</figcaption>
			</figure>

			<p>{{ $.module.Content }}</p>

			{{ if eq $.buttonClass "" }}
				{{ if isset $.module.Params "button" }}
			<a href="{{ $.module.Params.link }}" class="button blue {{ $.module.Params.button_icon }}">{{ $.module.Params.button}}</a>
				{{ end }}
			{{ end }}

		</div>

		{{ if isset $.module.Params "list_items" }}
			<ul>
			{{ range $key, $value := $.module.Params.list_items }}
				<li>{{ $value.title }}</li>
			{{ end }}
			</ul>
		{{ end }}

	</div>

</section>
