<section class="volunteer module">

	<div class="leftHalfContainer">
		<div class="content left">
			<h3 class="white">Looking to Volunteer?</h3>

			<p>We would love to have you get engaged. There is something for everyone.  Depending on your interest and availability there are a variety of ways to get involved with both North Shore Elementary and FNSE.</p>

			<span>Become a lunch PAL, meeting with an identified student in need once a week for an hour.</span>

			<a href="#" class="button blue lend">LEND A HAND</a>

			<div class="clear"></div>

		</div>
	</div>

	<div class="rightHalfContainer">
		&nbsp;
	</div>

</section>