<section class="zoned module no-margin">

	<div class="leftHalfContainer">
		
	</div>

	<div class="rightHalfContainer">
		<div class="content right">
			<h3>Questions?</h3>

			<p><strong>Am I zoned for North Shore?</strong> While the map overlay serves as a rough guide, you can check your exact address here to see if you're zoned for North Shore. Have additional questions? Head on over to our FAQ to learn more about the school, performance, teachers, events, tours and Friends of North Shore.</p>

			<a href="#" class="button blue faq">FAQ</a>

			<div class="clear"></div>

		</div>
	</div>

</section>