@import "base.scss";

/*----------------------- Title and Background ------------------------------ */

.hero {
    @extend %clearfix;

    width: 100%;
    height: 100%;
    background-color: $darkGrey;

    @include breakpoint(condensed-screen) {
    	background-image: none;
    	height: 500px;
    }

    @include breakpoint(normal-screen) {
		height: 600px;
    }

    @include breakpoint(large-screen) {
        height: 675px;
    }
}

.hero .container {
	background-image: url("/images/lab_mobile.png");
	background-repeat: no-repeat;
	background-position: right 200px bottom;
	height: 425px;
	background-size: 500px auto;

    @include breakpoint(condensed-screen) {
        background-image: url("/images/lab.png");
        background-size: 550px auto;
    	background-position: left 0px bottom;
    	background-repeat: no-repeat;
        height: 440px;
    }


    @include breakpoint(normal-screen) {
    	background-size: 700px auto;
    	background-position: left 25px bottom;
        height: 540px;
    }

    @include breakpoint(large-screen) {
    	background-size: 900px auto;
        height: 615px;
    }
}

.hero .padder {
	margin-top: 100px;
    @include breakpoint(condensed-screen) {
    	margin-top: inherit;
    	margin-right: 0px;
    }

    @include breakpoint(normal-screen) {
    	margin-right: 20px;
    }

    @include breakpoint(large-screen) {
    	margin-right: 0px;
    }
}

.hero h2 {

  	text-align: center;

    @include breakpoint(condensed-screen) {
    	text-align: right;
    }

}

.hero p {

	text-align: center;
    padding: 3px 0px;
    color: $white;
    margin: 0px;

    @include breakpoint(condensed-screen) {
    	text-align: right;
    	font-size: 1em;
        font-weight: 300;
    }


    @include breakpoint(normal-screen) {
    	font-size: 1.1em;
    }


    @include breakpoint(large-screen) {
    	font-size: 1.2em;
    }
}


/*----------------------- Call To Action ------------------------------ */

.callToAction {
    @include flex;
    @extend %clearfix;

    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    width: 100%;


    @include breakpoint(condensed-screen) {
    	margin-right: 0px;
    	margin-top: 1.5em;
    	justify-content: flex-end;
    }

    @include breakpoint(normal-screen) {
		margin-top: 2.0em;
    }

    @include breakpoint(large-screen) {
        margin-top: 2.5em;
    }
}

.callToAction blockquote {
    color: $white;
    width: 100%px;
    line-height: 1.5em;
    text-align: right;
    font-size: 95%;

    @include breakpoint(condensed-screen) {
        font-size: 1.1em;
        width: 450px;
        margin: 15px 0px 0px auto;
    }


    @include breakpoint(normal-screen) {
        width: 600px;
        font-size: 1.3em;
    }


    @include breakpoint(large-screen) {
        font-size: 1.5em;
    }
}

.callToAction b {
    color: $paleYellow;
}

.callToAction .button {
    margin-right: 0px;
    background-color: $lightYellow;
    color: $darkGrey;
    margin-left: 0px;
}

.button.nobg {
    background-color: $darkGrey;
    color: $lightGrey;
}