@import "base.scss";

/*----------------------- Title and Background ------------------------------ */

.hero {
	@extend %clearfix;
	width: 100%;
	height: 420px;
	background-color: $darkGrey;
	background-image: url("/images/raisehand.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto 300px;
}

.hero h2 {
	margin: 25px 0px 0px 0px;
	text-align: center;
	padding: 10px;
	@include heavyFontStack();
	font-style: italic !important;
	font-size: 26px !important;
}

.hero h2 mark {
	background-color: $purple;
	padding: 0px 5px;
	color: $white;
}

.hero p {
	text-align: center;
	padding: 3px 10px;
	color: $white;
	margin: 0px 10px;
	font-size: 16px;
	@include proseFontStack();
	font-weight: 300;
}

/// Hnadle larger displays
@media screen and (min-width: 35em) {

	.hero {
		background-image: url("/images/Bookshelf.png");
		background-size: auto 120px;
		background-repeat: repeat-x;
		height: 520px;
	}

	.hero h2 {
		text-align: right;
		font-size: 36px !important;
	}

	.hero p {
		text-align: right;
		font-size: 24px;
		font-weight: 100;
	}

}

/*----------------------- Call Outs ------------------------------ */

/// Credit: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/

.callouts {
	@include flex();
	align-items: center;
  	justify-content: center;
  	margin-top: 60px;
  	text-align: center;
}

@mixin callout($color, $width, $height) {
	width: $width;
	height: $height;
	background-color: $color;
	position: relative;
}

.volunteer {
	@include callout(none, 0%, 270px);

}

.share {
	@include callout(none, 0%, 270px);

}

.featured {
	@include callout(none, 100%, 357px);
	margin: 0px 10px;
	background-image: url("/images/raisehand.png");
	background-repeat: no-repeat;
	background-position: center bottom 20px;
	background-size: auto 350px;
}

.callouts div {
	display: none;
}

/// Hnadle larger displays
@media screen and (min-width: 35em) {

	.volunteer {
		background-image: url("/images/raisehand.png");
		background-repeat: no-repeat;
		background-position: center bottom 50px;
		background-color: $green;
		width: 25%;
	}

	.share {
		background-image: url("/images/globe.png");
		background-repeat: no-repeat;
		background-position: center bottom 50px;
		background-color: $lightGrey;
		width: 25%;
	}

	.featured {
		background-image: url("/images/donate.png");
		background-repeat: no-repeat;
		background-position: center bottom 50px;
		background-size: auto 250px;
		background-color: $paleYellow;
		width: 35%;
		height: 370px;
	}

	.featured a {
		background-color: $orange !important;
	}

	.hero {
		height: 575px;
	}

	.callouts div a {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background-color: $darkYellow;
		display: inline-block;
		height: 50px;
		text-align: center;
		line-height: 2.1 !important;
		font-size: 24px !important;
		@include heavyFontStack();
		text-transform: uppercase;
		text-decoration: none;
		color: $white;
	}

	.mobileCallouts {
		display: none !important;
	}

	.callouts div {
		display: block;
	}

}

/*----------------------- Mobile Call Outs ------------------------------ */

/// Alt navigation for mobile unerneath the hero images

.mobileCallouts {
	@include flex();
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	margin-top: 10px;
}

.mobileCallouts div {
	background-image: none;
	width: 33% !important;
	height: 50px;
}

.mobileCallouts div a {
		width: 100%;
		display: inline-block;
		height: 50px;
		text-align: center;
		line-height: 2.1 !important;
		font-size: 24px !important;
		@include heavyFontStack();
		text-transform: uppercase;
		text-decoration: none;
		color: $white;
	}

.mobileCallouts .volunteer {
	background-color: $green;
}

.mobileCallouts .share {
	background-color: $darkYellow;
}

.mobileCallouts .featured {
	background-color: $orange;
}
