@import "base.scss";

.newsletter {
	order: 2;
	background-color: $blue;
	margin-top: 30px;
	z-index: 50;
	@include breakpoint(condensed-screen) { 
      	order: 0;
		margin-top: 0px;
    }
}

// Hide the newsletter on mobile for now
@media screen and (min-width: 35em) {

	.newsletter .container {
		@include flex;
		align-items: center;
		justify-content: center;
	    width: 100%;
	}

	.newsletter p {
		color: $white;
		font-weight: bold;
		margin: 15px;
		text-align: center;
	}

	.newsletter form {
		margin: 15px;
	}

	.newsletter input[type=text], select {
	    width: 250px;
	    padding: 15px 20px 10px 20px;
	    margin: 8px 0;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}

	.newsletter input[type=submit] {
	    width: 100px;
	    background-color: $darkYellow;
	    color: white;
	    padding: 7px 20px;
	    border: none;
	    cursor: pointer;
	    @include heavyFontStack();
	    text-transform: uppercase;
	}

}