/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Backgrounds ------------------------------ */
.blueGreen {
  background-color: #3FB08A; }

.blue {
  background-color: #3C70AC; }

@font-face {
  font-family: 'Peace Sans';
  src: url("/fonts/PeaceSans.woff2") format("woff2"), url("/fonts/PeaceSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    text-transform: uppercase;
    font: 100% 'Peace Sans', Helvetica, sans-serif;
    color: #00295C;
    display: block;
    position: relative;
    padding-top: 10px; }
  html h1 {
    font-size: 1.5rem; }
  html h2 {
    color: #fff;
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem; }
  html h3 {
    font-size: 1.414rem; }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 33px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Backgrounds ------------------------------ */
.blueGreen {
  background-color: #3FB08A; }

.blue {
  background-color: #3C70AC; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Backgrounds ------------------------------ */
.blueGreen {
  background-color: #3FB08A; }

.blue {
  background-color: #3C70AC; }

/*h2.triggerMe mark {
	@include transition(all 1s ease-out);
	opacity: 0;
}*/
/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Backgrounds ------------------------------ */
.blueGreen {
  background-color: #3FB08A; }

.blue {
  background-color: #3C70AC; }

@font-face {
  font-family: 'Peace Sans';
  src: url("/fonts/PeaceSans.woff2") format("woff2"), url("/fonts/PeaceSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    text-transform: uppercase;
    font: 100% 'Peace Sans', Helvetica, sans-serif;
    color: #00295C;
    display: block;
    position: relative;
    padding-top: 10px; }
  html h1 {
    font-size: 1.5rem; }
  html h2 {
    color: #fff;
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem; }
  html h3 {
    font-size: 1.414rem; }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 33px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

.module {
  *zoom: 1; }
  .module:before, .module:after {
    content: " ";
    display: table; }
  .module:after {
    clear: both; }

.module {
  width: 100%; }

.container {
  max-width: 1200px;
  margin: 100px auto; }

h3:before {
  content: "";
  background: #D1E5FB;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 150px; }

.coreImage {
  width: 50%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px; }

.copy {
  width: 30%; }

.copy p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

/*----------------------- LINKS ------------------------------ */
a.button {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 90%;
  text-decoration: none;
  padding: 15px 15px;
  margin: 25px 0px;
  border-radius: 5px;
  display: inline-block; }

.button.heart::before {
  content: url("/images/icons/icon_heart.png");
  margin-right: 10px; }

.button.castle::before {
  content: url("/images/icons/icon_castle.png");
  margin-right: 10px; }

/*h2.triggerMe mark {
	@include transition(all 1s ease-out);
	opacity: 0;
}*/
/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Backgrounds ------------------------------ */
.blueGreen {
  background-color: #3FB08A; }

.blue {
  background-color: #3C70AC; }

@font-face {
  font-family: 'Peace Sans';
  src: url("/fonts/PeaceSans.woff2") format("woff2"), url("/fonts/PeaceSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    text-transform: uppercase;
    font: 100% 'Peace Sans', Helvetica, sans-serif;
    color: #00295C;
    display: block;
    position: relative;
    padding-top: 10px; }
  html h1 {
    font-size: 1.5rem; }
  html h2 {
    color: #fff;
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem; }
  html h3 {
    font-size: 1.414rem; }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 33px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

.friends .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }
