/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Import League Gothic ------------------------------ */
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-italic-webfont.eot");
  src: url("/fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-italic-webfont.woff") format("woff"), url("/fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic; }

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("/fonts/leaguegothic-regular-webfont.eot");
  src: url("/fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/leaguegothic-regular-webfont.woff") format("woff"), url("/fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("/fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: sans-serif;
  font-size: 125%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  html p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem; }
  html h2, html h3 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
    font: 100% 'League Gothic', Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px; }
    html h2 mark, html h3 mark {
      background-color: #816C93;
      padding: 0px 5px;
      color: #fff; }
  html h3 {
    margin-top: 2.25rem; }
  @media screen and (min-width: 35em) {
    html h2, html h3 {
      font-size: 36px !important;
      margin-top: 3rem; } }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 30px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
.container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0px 10px; }

@media screen and (min-width: 35em) {
  .container {
    padding: 0px 30px; } }

@media screen and (min-width: 1200px) {
  .container {
    padding: 0px 10px; } }

.hero {
  *zoom: 1; }
  .hero:before, .hero:after {
    content: " ";
    display: table; }
  .hero:after {
    clear: both; }

.subsection h3 {
  width: 100%;
  text-align: center; }

@media screen and (min-width: 35em) {
  .subsection h3 {
    width: 100%;
    text-align: left; } }

body {
  margin: 0;
  padding: 0; }

/*----------------------- Title and Background ------------------------------ */
.hero {
  width: 100%;
  height: 420px;
  background-color: #313131;
  background-image: url("/images/raisehand_large.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 300px; }

.hero h2 {
  text-align: center; }

.hero p {
  text-align: center;
  padding: 3px 0px;
  color: #fff;
  margin: 0px; }

@media screen and (min-width: 35em) {
  .hero {
    background-image: url("/images/Bookshelf.png");
    background-size: auto 120px;
    background-repeat: repeat-x;
    height: 520px; }
  .hero h2 {
    text-align: right; }
  .hero p {
    text-align: right;
    font-size: 24px;
    font-weight: 300; } }

/*----------------------- Call Outs ------------------------------ */
.callouts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  text-align: center; }

.callouts div {
  display: none; }

@media screen and (min-width: 35em) {
  .volunteer {
    background-image: url("/images/raisehand.png");
    width: 25%;
    height: 270px;
    background-color: #BDA857;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom 50px; }
  .share {
    background-image: url("/images/globe.png");
    width: 25%;
    height: 270px;
    background-color: #F4F4F4;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom 50px; }
  .featured {
    background-image: url("/images/donate.png");
    width: 35%;
    height: 370px;
    background-color: #FCF3CB;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom 50px;
    margin: 0px 10px; }
  .featured a {
    background-color: #E95328 !important; }
  .hero {
    height: 575px; }
  .callouts div a {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #EAAB22;
    display: inline-block;
    height: 50px;
    text-align: center;
    line-height: 2.1 !important;
    font-size: 24px !important;
    font: 100% 'League Gothic', Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
  .mobileCallouts {
    display: none !important; }
  .callouts div {
    display: block; } }

/*----------------------- Mobile Call Outs ------------------------------ */
.mobileCallouts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.mobileCallouts div {
  width: 33.3% !important;
  height: 50px; }

.mobileCallouts div a {
  line-height: 2.1 !important;
  font-size: 24px !important;
  font: 100% 'League Gothic', Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

.mobileCallouts .volunteer {
  background-color: #BDA857; }

.mobileCallouts .share {
  background-color: #EAAB22; }

.mobileCallouts .featured {
  background-color: #E95328; }
