.clear, .module, .hero, nav[role=navigation], .text_left ul, .text_right ul, .center_list li, .half_half .rightHalfContainer, .faq ul {
  *zoom: 1; }
  .clear:before, .module:before, .hero:before, nav[role=navigation]:before, .text_left ul:before, .text_right ul:before, .center_list li:before, .half_half .rightHalfContainer:before, .faq ul:before, .clear:after, .module:after, .hero:after, nav[role=navigation]:after, .text_left ul:after, .text_right ul:after, .center_list li:after, .half_half .rightHalfContainer:after, .faq ul:after {
    content: " ";
    display: table; }
  .clear:after, .module:after, .hero:after, nav[role=navigation]:after, .text_left ul:after, .text_right ul:after, .center_list li:after, .half_half .rightHalfContainer:after, .faq ul:after {
    clear: both; }

/*----------------------- Misc ------------------------------ */
/*----------------------- Colors ------------------------------ */
/*----------------------- Font Color ------------------------------ */
.white-font {
  color: #fff; }

/*----------------------- Backgrounds ------------------------------ */
.blueGreen {
  background-color: #3FB08A; }

.blue {
  background-color: #3C70AC; }

.purple {
  background-color: #00295C; }

.red {
  background-color: #C51E20; }

.no-animation {
  visibility: visible; }

/* -------------------- */
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand; }

/* --------------------- */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

/* -------------------- */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/* ------------------*/
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.jackInTheBox {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox; }

/* ---------------- */
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.tada {
  -webkit-animation-name: tada;
  animation-name: tada; }

/* ---------------- */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@font-face {
  font-family: 'Peace Sans';
  font-display: swap;
  src: url("/fonts/PeaceSans.woff2") format("woff2"), url("/fonts/PeaceSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*----------------------- Typebase Defaults ------------------------------ */
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 110%;
  -webkit-font-smoothing: antialiased;
  /* Copy & Lists */
  /* Headings */
  /* Tables */
  /* Code blocks */
  /* Leading paragraph text */
  /* Hug a the block above you */ }
  @media (min-width: 35em) {
    html {
      font-size: 137.5%; } }
  html p {
    line-height: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  html p.triggeredCSS3, html p.no-animation {
    margin-top: 1.5rem; }
  html ul, html ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    html ul li, html ol li {
      line-height: 1.5rem; }
    html ul ul, html ul ol, html ol ul, html ol ol {
      margin-top: 0;
      margin-bottom: 0; }
  html blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: #00295C;
    font-style: italic; }
  html h2, html h3, html h4, html h5, html h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    text-transform: uppercase;
    font: 100% 'Peace Sans', Helvetica, sans-serif;
    color: #00295C;
    display: block;
    position: relative;
    padding-top: 10px; }
  html h1 {
    font-size: 1.5rem; }
  html h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 3rem; }
    @media (min-width: 35em) {
      html h2 {
        font-size: 2.4rem;
        line-height: 3rem; } }
    @media (min-width: 1080px) {
      html h2 {
        font-size: 2.86rem; } }
    @media (min-width: 1300px) {
      html h2 {
        font-size: 3.1108rem;
        line-height: 3.3rem; } }
  html h3 {
    font-size: 1rem; }
    @media (min-width: 35em) {
      html h3 {
        font-size: 1rem; } }
    @media (min-width: 1080px) {
      html h3 {
        font-size: 1.3rem; } }
    @media (min-width: 1300px) {
      html h3 {
        font-size: 1.414rem; } }
  html h4 {
    font-size: 0.707rem; }
  html h5 {
    font-size: 0.4713333333rem; }
  html h6 {
    font-size: 0.3535rem; }
  html table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse; }
    html table td, html table th {
      padding: 0;
      line-height: 33px; }
  html code {
    vertical-align: bottom; }
  html .lead {
    font-size: 1.414rem; }
  html .hug {
    margin-top: 0; }

input[type=text], select, textarea {
  display: block;
  height: 50px;
  margin: 25px 0px;
  width: 100%;
  padding: 5px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  box-sizing: border-box; }

textarea {
  display: block;
  height: 200px;
  margin: 25px 0px;
  padding-top: 20px; }

/*--------------------------------

friends Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'friends';
  src: url("/fonts/friends.eot");
  src: url("/fonts/friends.eot") format("embedded-opentype"), url("/fonts/friends.woff2") format("woff2"), url("/fonts/friends.woff") format("woff"), url("/fonts/friends.ttf") format("truetype"), url("/fonts/friends.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------------------
  base class definition
-------------------------*/
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'friends';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*------------------------
  change icon size
-------------------------*/
/* relative units */
.icon-sm {
  font-size: 0.8em; }

.icon-lg {
  font-size: 1.2em; }

/* absolute units */
.icon-16 {
  font-size: 16px; }

.icon-32 {
  font-size: 32px; }

/*----------------------------------
  add a square/circle background
-----------------------------------*/
.icon-bg-square,
.icon-bg-circle {
  padding: 0.35em;
  background-color: #eee; }

.icon-bg-circle {
  border-radius: 50%; }

/*------------------------------------
  use icons as list item markers
-------------------------------------*/
.icon-ul {
  padding-left: 0;
  list-style-type: none; }

.icon-ul > li {
  display: flex;
  align-items: flex-start;
  line-height: 1.4; }

.icon-ul > li > .icon {
  margin-right: 0.4em;
  line-height: inherit; }

/*------------------------
  spinning icons
-------------------------*/
.icon-is-spinning {
  -webkit-animation: icon-spin 2s infinite linear;
  -moz-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear; }

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes icon-spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*------------------------
  rotated/flipped icons
-------------------------*/
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

.icon-flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.icon-flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1); }

/*------------------------
  icons
-------------------------*/
.icon-heart::before {
  content: "\ea0b"; }

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; }

.bodyWrapper {
  overflow: hidden; }

/* -------------- DEBUG ------------- */
/* If you need to debug, uncomment this */
/*body {
    border-top: 5px solid black;
    @include breakpoint(condensed-screen) {
        border-top: 5px solid yellow;
    }
    @include breakpoint(tablet-screen) {
        border-top: 5px solid orange;
    }
    @include breakpoint(normal-screen) {
        border-top: 5px solid red;
    }
    @include breakpoint(large-screen) {
        border-top: 5px solid blue;
    }
}

header {
    top: 5px !important;
}*/
/* -------------- CORE LAYOUT ------------- */
/* Every section is a module. By building around this class, margins and widths will be the same. */
.module {
  width: 100%;
  margin: 30px 0px 50px 0px;
  text-align: center;
  scroll-behavior: smooth; }
  @media (min-width: 35em) {
    .module {
      margin: 75px 0px; } }
  @media (min-width: 1080px) {
    .module {
      margin: 150px 0px; } }

.padded-module {
  margin: 0px !important;
  padding: 30px 0px 50px 0px; }
  @media (min-width: 35em) {
    .padded-module {
      padding: 75px 0px; } }
  @media (min-width: 1080px) {
    .padded-module {
      padding: 150px 0px; } }

.no-margin {
  margin: 3px 0px !important; }

.grey_module {
  background-color: #FAFAFA; }

.blue_module {
  background-color: #00295C; }

/* While a module is 100% width, the container is max-width. It sits inside, centered, for modules that don't want full width. */
.container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 20px; }
  @media (min-width: 35em) {
    .container {
      padding: 0px 50px; } }
  @media (min-width: 50em) {
    .container {
      padding: 0px 75px; } }

.copy {
  width: 100%; }

/* -------------- IMAGES ------------- */
div.image-container {
  width: 100%;
  height: 100%; }
  div.image-container.compat-object-fit {
    background-size: cover;
    background-position: center center; }
    div.image-container.compat-object-fit .coreImage {
      opacity: 0;
      visibility: hidden; }

.coreImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.coreImage.triggeredCSS3 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  visibility: visible; }

figure {
  width: 100%;
  margin: 1.5rem 0px 0px 0px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  padding-top: 25px;
  /* Wrap the text around the image. */
  /* Image is now same height as text and should sit next to the text. Offset top margin to bring about the header. */ }
  @media (min-width: 35em) {
    figure {
      padding-top: 0px;
      max-width: 45%; } }
  @media (min-width: 1080px) {
    figure {
      margin-top: 0px; } }

figure.triggeredCSS3 {
  padding-top: 0px; }
  @media (min-width: 1080px) {
    figure.triggeredCSS3 {
      margin-top: -75px; } }

figcaption {
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #3A3A3A;
  font-size: 80%;
  margin-top: 10px;
  display: none; }
  @media (min-width: 35em) {
    figcaption {
      display: block; } }

picture {
  max-width: 100%; }

/* -------------- THIRDS MODULE ------------- */
.thirdContainer {
  width: 33%;
  border-radius: 4px; }

.twoThirdContainer {
  width: 67%;
  border-radius: 4px; }

/* -------------- HALVES MODULE ------------- */
.leftHalfContainer {
  width: 50%;
  margin-right: 3px;
  border-radius: 4px; }

.rightHalfContainer {
  width: 50%;
  border-radius: 4px; }

/* -------------- HEADERS ---------------- */
h3:before {
  content: "";
  background: #D1E5FB;
  position: absolute;
  top: 0;
  height: 3px;
  width: 150px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

h3.triggeredCSS3:before {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand; }

.right h3 {
  text-align: center; }
  @media (min-width: 35em) {
    .right h3 {
      text-align: right; } }

.right h3:before {
  left: 50%;
  margin-left: -75px; }
  @media (min-width: 35em) {
    .right h3:before {
      right: 0;
      margin-left: 0px;
      left: inherit; } }

.left h3 {
  text-align: center; }
  @media (min-width: 35em) {
    .left h3 {
      text-align: left; } }

.left h3:before {
  left: 50%;
  margin-left: -75px; }
  @media (min-width: 35em) {
    .left h3:before {
      left: 0;
      margin-left: 0px; } }

.center h3 {
  text-align: center; }

.center h3:before {
  left: 50%;
  margin-left: -75px; }

.subtitle {
  color: #A4A4A4;
  display: block;
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900; }

.right .subtitle {
  text-align: center; }
  @media (min-width: 35em) {
    .right .subtitle {
      text-align: right; } }

/*----------MAPKIT------------*/
.mk-map-view > * {
  left: 0; }

.mk-zoom-controls .mk-icon {
  left: 0; }

/*----------------------- LINKS ------------------------------ */
section a {
  color: #3C70AC;
  text-decoration: none;
  border-bottom: 1px solid #3C70AC; }

.blue_module a,
.blue_list a {
  color: #D1E5FB;
  border-bottom: 1px solid #D1E5FB; }

section a:hover {
  border-bottom: 1px dashed #3C70AC; }

.blue_module a:hover,
.blue_list a:hover {
  border-bottom: 1px dashed #D1E5FB; }

.blue_list .button:hover {
  background-color: #D1E5FB; }

a.button {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 80%;
  text-decoration: none;
  padding: 10px 12px 10px 12px;
  margin: 25px 0px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 1; }
  @media (min-width: 1080px) {
    a.button {
      font-size: 90%;
      padding: 15px 20px; } }

.button:visited {
  color: #fff !important;
  background-color: #3C70AC;
  border: none !important; }

.button:hover {
  color: #fff !important;
  background-color: #00295C;
  border: none !important; }

.button:active {
  color: #fff !important;
  background-color: #00295C;
  border: none !important; }

@media (min-width: 35em) {
  .right a.button {
    float: right; } }

@media (min-width: 35em) {
  .left a.button {
    float: left; } }

.button::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font: normal normal normal 1em/1 'friends';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -3px; }
  @media (min-width: 35em) {
    .button::before {
      margin-top: -3px; } }
  @media (min-width: 1080px) {
    .button::before {
      margin-right: 15px; } }

.button.triggerMe::before {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -webkit-transform-style: preserve-3d; }

.button.triggeredCSS3::before {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  visibility: visible; }

.button.castle::before {
  content: url("/images/icons/icon_castle.png"); }

.button.hand::before {
  content: url("/images/icons/icon_hand.png"); }

.button.explore::before {
  content: url("/images/icons/icon_explore.png"); }

.button.lend::before {
  content: url("/images/icons/icon_lend.png"); }

.button.roller::before {
  content: url("/images/icons/icon_roller.png"); }

.button.faq::before {
  content: url("/images/icons/icon_faq.png"); }

.button.mail::before {
  content: url("/images/icons/icon_mail.png"); }

.button.more::before {
  content: url("/images/icons/icon_more.png"); }

.button.rocket::before {
  content: url("/images/icons/icon_rocket.png");
  height: 32px;
  width: 32px; }

/* --------  404 Page -------- */
body.fouroh {
  background-color: #00295C; }

/*----------------------- Title and Background ------------------------------ */
.hero {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (min-width: 35em) {
    .hero {
      background-attachment: fixed;
      height: 90vh; } }
  @media (min-width: 50em) {
    .hero {
      text-align: right; } }
  @media (hover: none) {
    .hero {
      background-attachment: initial; } }

.castle-wall {
  background-image: url("/images/uneditable/castle_wall_mobile.png");
  background-image: url("/images/uneditable/castle_wall_mobile.png");
  background-repeat: repeat-x;
  background-position: bottom center;
  width: 100%;
  height: 41px;
  margin-top: -35px;
  z-index: 5;
  position: relative; }
  @media (min-width: 35em) {
    .castle-wall {
      background-image: url("/images/uneditable/castle_wall.png"); } }

.hero .content p {
  color: #fff;
  margin: 5px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: none; }
  @media (min-width: 35em) {
    .hero .content p {
      display: block; } }

.hero .content {
  height: 100%;
  width: 100%; }

.content-bottom {
  z-index: 1;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  width: 100%; }
  @media (min-width: 50em) {
    .content-bottom {
      right: 0px;
      max-width: 700px;
      padding: 0px;
      text-align: right; } }
  @media (min-width: 1080px) {
    .content-bottom {
      max-width: 800px; } }
  @media (min-width: 1300px) {
    .content-bottom {
      max-width: 900px; } }

.hero .container {
  margin: 0 auto !important;
  width: 90%;
  height: 100%;
  position: relative;
  padding: 0px; }

/* ------------ Overlay to darken the hero image ------------  */
.darken-pseudo {
  position: relative; }

.darken-pseudo:after {
  content: '' !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block !important;
  background-color: rgba(0, 0, 0, 0.3); }

/*----------------------- Navigation Styles ------------------------------ */
header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 100%;
  font: 100% 'Peace Sans', Helvetica, sans-serif;
  height: 60px;
  position: absolute;
  top: 0px;
  border-bottom: 3px solid #3C70AC; }
  @media (min-width: 1080px) {
    header {
      height: 89px;
      position: relative;
      margin: 0px auto 0px auto;
      max-width: 100%; } }

h1 {
  margin: auto 0px;
  padding: 0px 0px 0px 20px; }

h1 img {
  width: 80%; }
  @media (min-width: 1080px) {
    h1 img {
      width: 100%; } }

.navigation {
  width: 100%;
  background-color: #fff;
  z-index: 10; }

.nslogo {
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 15px 20px 10px 20px;
  display: none; }
  @media (min-width: 1080px) {
    .nslogo {
      display: inline-block; } }

.donate {
  display: inline-block;
  margin: auto 0px !important; }
  @media (min-width: 1080px) {
    .donate {
      margin: auto 25px !important; } }

/*-----------------Dropdown Menu---------------*/
nav[role=navigation] {
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  width: 0px; }
  @media (min-width: 1080px) {
    nav[role=navigation] {
      flex-grow: 5; } }

ul.nav {
  padding: 0; }
  @media (min-width: 35em) {
    ul.nav {
      font-size: 80%; } }
  @media (min-width: 1080px) {
    ul.nav {
      height: 100%;
      margin: auto 10px auto 0px;
      border: 0;
      text-align: right;
      font-size: 85%; } }

ul.nav li {
  display: inline-block;
  margin: 0 1em;
  height: 100%;
  vertical-align: center; }

ul.nav li a {
  color: #00295C;
  text-decoration: none;
  text-align: right;
  margin: auto 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block; }
  @media (min-width: 1080px) {
    ul.nav li a {
      border: 0;
      font-size: 90%; } }

ul.nav li a:hover {
  color: #3C70AC; }

ul.nav li a.selected {
  font-weight: 900 !important; }

ul.nav li img {
  margin-bottom: -8px; }

div.menu-link {
  padding: 1em;
  color: #00295C; }
  @media (min-width: 1080px) {
    div.menu-link {
      display: none; } }

/*----------------------- Hamburger Functionality ------------------------------ */
nav[role=navigation].open {
  margin-bottom: 10px;
  margin-top: 60px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.3); }

.open .dropdown {
  position: relative !important;
  display: block !important;
  background-color: #fff;
  margin-top: 0px;
  padding-top: 10px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  z-index: 10;
  font-size: 80% !important; }

.open .dropdown li {
  text-align: left; }

.open ul.nav {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 30px; }

.open ul.nav li {
  display: block !important;
  margin: 25px 0px; }

.open .dropdown li a {
  display: block !important;
  text-align: left !important;
  color: #000 !important;
  font-weight: 600 !important; }

.open .volunteerlist {
  order: 2; }

@media (min-width: 1080px) {
  ul.nav li.facebookmobile {
    display: none !important; } }

.open ul.nav li.facebook {
  display: none !important; }
  @media (min-width: 1080px) {
    .open ul.nav li.facebook {
      display: inherit !important; } }

.facebook img {
  width: 30px; }

.open .volunteerlist, .open .reachout {
  margin-top: 15px; }

/*----------------- Hamburger Animation -----------------*/
div.menu-link {
  width: 20px;
  top: 5px;
  right: 15px;
  transition-duration: 0.5s;
  position: absolute; }
  @media (min-width: 1080px) {
    div.menu-link {
      width: 20px;
      top: 20px;
      right: 20px;
      transition-duration: 0.5s;
      position: absolute; } }
  div.menu-link .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 25px;
    background-color: #00295C; }
    div.menu-link .icon:before {
      transition-duration: 0.5s;
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #00295C;
      content: "";
      top: -10px; }
    div.menu-link .icon:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #00295C;
      content: "";
      top: 10px; }
  div.menu-link.open .icon {
    transition-duration: 0.5s;
    background: transparent; }
    div.menu-link.open .icon:before {
      transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px); }
    div.menu-link.open .icon:after {
      transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px); }
  div.menu-link:hover {
    cursor: pointer; }

.footer {
  background-color: #000;
  margin-bottom: 0px !important;
  border-radius: 4px; }

.footer .container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1080px) {
    .footer .container {
      flex-direction: row;
      align-items: stretch;
      display: flex;
      margin-top: 150px;
      margin-bottom: 150px; } }

.footer form {
  width: 100%;
  text-align: center; }
  @media (min-width: 1080px) {
    .footer form {
      width: 80%;
      margin-right: 50px; } }

.footer h3 {
  color: #fff; }

.details {
  width: 100%;
  align-self: flex-end;
  text-align: center;
  margin-top: 50px; }
  @media (min-width: 1080px) {
    .details {
      margin-top: none;
      width: 50%; } }

.details img {
  border-radius: 4px;
  border: 5px dashed #3C70AC;
  background-color: #D1E5FB;
  float: right;
  width: 33%;
  margin-left: 20px; }
  @media (min-width: 1080px) {
    .details img {
      width: auto;
      float: none;
      margin-bottom: 50px; } }

.contact {
  color: #fff;
  text-align: right;
  font-family: 'Open Sans', sans-serif; }
  @media (min-width: 1080px) {
    .contact {
      margin-bottom: 125px; } }

.contact strong {
  display: block;
  font-size: 70%; }
  @media (min-width: 1080px) {
    .contact strong {
      font-size: inherit; } }

.contact span {
  display: block;
  font-size: 70%; }
  @media (min-width: 1080px) {
    .contact span {
      font-size: inherit; } }

.address {
  margin-top: 25px; }

.nonprofit {
  color: #D1E5FB; }

.sitecontent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 0px !important; }
  @media (min-width: 1080px) {
    .sitecontent {
      flex-direction: row; } }

.listcontent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAFA;
  border-radius: 4px;
  width: 100%;
  padding: 25px 0px; }
  @media (min-width: 50em) {
    .listcontent {
      justify-content: space-evenly;
      flex-direction: row;
      width: 100%;
      padding: 75px 0px; } }
  @media (min-width: 1080px) {
    .listcontent {
      width: 80%; } }
  @media (min-width: 1300px) {
    .listcontent {
      width: 75%; } }

.sitecontent .logo {
  display: none;
  width: 25%;
  background-image: url("/images/uneditable/fnselogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  margin: 0 auto;
  margin-bottom: 35px; }
  @media (min-width: 1080px) {
    .sitecontent .logo {
      background-size: 90%;
      display: block;
      width: 20%; } }
  @media (min-width: 1300px) {
    .sitecontent .logo {
      background-size: auto;
      width: 25%; } }

.listcontent section h4 {
  color: #3A3A3A;
  width: 100%;
  text-align: center; }
  @media (min-width: 50em) {
    .listcontent section h4 {
      width: auto;
      text-align: left;
      margin-top: 0px; } }

.listcontent ul {
  list-style-type: none;
  margin: 15px auto;
  width: 100%;
  text-align: center;
  padding: 0px; }
  @media (min-width: 50em) {
    .listcontent ul {
      width: auto;
      text-align: left; } }

.listcontent li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 10px 0px; }
  @media (min-width: 50em) {
    .listcontent li {
      font-size: 85%; } }

.listcontent a, .nsfooter a {
  font-size: 100%;
  color: #3C70AC;
  text-decoration: none;
  border-bottom: none; }

.nsfooter {
  text-align: center; }

.nsfooter img {
  background-color: #fff;
  border-radius: 4px;
  padding: 25px;
  width: 100px;
  margin-top: 33px; }
  @media (min-width: 50em) {
    .nsfooter img {
      margin-top: 0px; } }
  @media (min-width: 1080px) {
    .nsfooter img {
      width: 125px; } }

.nsfooter a {
  display: block; }

.fnsefb img {
  height: 30px;
  margin-bottom: -7px;
  margin-left: 5px; }

.socialicons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px; }

.socialicons img {
  background-color: none;
  padding: 0px;
  width: 30px; }

.sitecontent a:hover {
  border-bottom: none;
  color: #00295C; }

.credits {
  color: #fff;
  padding: 10px;
  background-color: #3C70AC;
  font-size: 60%;
  text-align: center;
  border-radius: 4px;
  margin-top: 3px; }
  @media (min-width: 1080px) {
    .credits {
      text-align: right;
      font-size: 70%; } }

.credits a {
  color: #D1E5FB; }

.text_left p {
  text-align: left; }

/* On mobile, the image should sit on top of the text. */
.text_left figure {
  height: 300px;
  /* Wrap the text around the image. */
  /* Image is now same height as text and should sit next to the text. Offset top margin to bring about the header. */ }
  @media (min-width: 35em) {
    .text_left figure {
      float: right;
      height: 300px;
      padding: 0px 0px 40px 40px; } }
  @media (min-width: 1080px) {
    .text_left figure {
      height: 600px;
      padding: 0px 0px 60px 50px; } }
  @media (min-width: 1300px) {
    .text_left figure {
      padding: 0px 0px 60px 100px; } }

/* Some modules have buttons on one page, and not on another. If no button, lower the image height so that it fits next to text still. */
@media (min-width: 1080px) {
  .no_button.text_left figure {
    height: 500px; } }

@media (min-width: 1080px) {
  .nseinfo figure {
    height: 600px !important; } }

@media (min-width: 1080px) {
  .gem figure {
    height: 650px !important; } }

.text_left ul {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 80%;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px; }
  @media (min-width: 50em) {
    .text_left ul {
      justify-content: space-evenly;
      font-size: 85%; } }
  @media (min-width: 1080px) {
    .text_left ul {
      justify-content: space-evenly;
      font-size: 95%; } }
  @media (min-width: 1300px) {
    .text_left ul {
      justify-content: space-evenly;
      font-size: 100%; } }

.text_left li {
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px 5px;
  background-color: #FAFAFA;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin: 10px; }

.volunteerinfo figure {
  height: 500px; }

.text_left figcaption {
  float: right; }

.text_right p {
  text-align: left; }

sup {
  font-size: 50%; }

/* On mobile, the image should sit on top of the text. */
.text_right figure {
  height: 300px;
  /* Wrap the text around the image. */
  /* Image is now same height as text and should sit next to the text. Offset top margin to bring about the header. */ }
  @media (min-width: 35em) {
    .text_right figure {
      float: left;
      height: 300px;
      padding: 0px 40px 40px 0px; } }
  @media (min-width: 1080px) {
    .text_right figure {
      height: 450px;
      padding: 0px 50px 60px 0px; } }
  @media (min-width: 1300px) {
    .text_right figure {
      padding: 0px 100px 60px 0px; } }

/* Some modules have buttons on one page, and not on another. If no button, lower the image height so that it fits next to text still. */
@media (min-width: 1080px) {
  .no_button.text_right figure {
    height: 400px; } }

@media (min-width: 1080px) {
  .why figure {
    height: 600px !important; } }

@media (min-width: 1080px) {
  .afterschool figure {
    height: 500px !important; } }

.text_right ul {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  font-size: 80%;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px; }
  @media (min-width: 50em) {
    .text_right ul {
      justify-content: space-evenly;
      font-size: 85%; } }
  @media (min-width: 1080px) {
    .text_right ul {
      justify-content: space-evenly;
      font-size: 95%; } }
  @media (min-width: 1300px) {
    .text_right ul {
      justify-content: space-evenly;
      font-size: 100%; } }

.text_right li {
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px 5px;
  background-color: #FAFAFA;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }
  @media (min-width: 35em) {
    .text_right li {
      margin: 10px 20px; } }

.text_right figcaption {
  float: left; }

.quote {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }

.quote .thirdContainer {
  background-color: #FAFAFA;
  height: 400px;
  margin-right: 3px;
  display: none; }
  @media (min-width: 35em) {
    .quote .thirdContainer {
      display: block; } }

.quote .twoThirdContainer {
  background-color: #D1E5FB;
  height: auto;
  width: 100%;
  text-align: left; }
  @media (min-width: 35em) {
    .quote .twoThirdContainer {
      height: 400px;
      width: 67%; } }

/* --------------- HEADSHOT, NAME, DESCRIPTION ---------------*/
.headshot {
  margin: auto auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  text-align: center; }

.headshot .compat-object-fit img {
  border: none;
  opacity: 0;
  visibility: hidden; }

.headshot img {
  object-fit: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #D1E5FB;
  border: 5px dashed #3C70AC; }

.actualQuote {
  display: block;
  margin: auto auto;
  width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 110%;
  line-height: 1.8rem;
  padding: 100px 0px; }
  @media (min-width: 35em) {
    .actualQuote {
      padding: 0px;
      font-size: 90%; } }
  @media (min-width: 50em) {
    .actualQuote {
      font-size: 100%; } }
  @media (min-width: 1080px) {
    .actualQuote {
      font-size: 110%; } }

.quote blockquote {
  margin: auto auto; }

/*cite {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 25px;
	@include breakpoint(condensed-screen) {
		display: none;
	}
}*/
.quote strong {
  color: #00295C;
  display: block;
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900; }

.quote span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #A4A4A4; }

/* ------------ BACKGROUND QUOTE "" VISUALS ---------------*/
.hasQuote {
  position: relative; }

.hasQuote::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("/images/uneditable/hasQuoteTop.png"); }

.hasQuote::after {
  position: absolute;
  bottom: -6px;
  right: 0;
  content: url("/images/uneditable/hasQuoteBottom.png"); }

.carousel {
  text-align: center;
  background-color: #00295C;
  border-radius: 4px; }

.carousel h3 {
  color: #fff; }

.carousel .white-font {
  padding: 0px 20px; }

.carousel .container {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 25px; }

.sample-projects {
  margin: 50px 0px; }

.project {
  background-color: #fff;
  background-clip: padding-box;
  background-repeat: no-repeat;
  border-radius: 4px 4px 0px 0px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden; }

.project.triggeredCSS3 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  visibility: visible; }

.project:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.project:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.project:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.project p {
  text-align: left;
  font-size: 85%;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 5px 25px 10px 25px; }

.projectImage {
  width: 100%;
  height: 250px;
  z-index: 100;
  object-fit: cover;
  border-radius: 4px 4px 0 0; }

.carousel h4 {
  margin-top: 20px;
  margin-bottom: 15px; }

/* Dots */
.carousel .glide__bullets {
  position: relative;
  display: block;
  transform: none;
  left: 0;
  margin-top: -50px;
  bottom: 0; }
  @media (min-width: 50em) {
    .carousel .glide__bullets {
      display: none; } }

.center_list {
  text-align: center;
  overflow: hidden;
  border-radius: 4px; }

.center_list p {
  text-align: left; }

.grey_list {
  background-color: #FAFAFA; }

.grey_list strong {
  color: #00295C; }

.blue_list {
  color: #fff;
  background-color: #00295C; }

.blue_list h3 {
  color: #fff; }

.center_list ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0px; }
  @media (min-width: 1080px) {
    .center_list ul {
      flex-direction: row; } }

.center_list li:nth-child(2) {
  margin: 0px 0px; }
  @media (min-width: 1080px) {
    .center_list li:nth-child(2) {
      margin: 30px 5%; } }

.center_list li.triggeredCSS3 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  visibility: visible; }

.center_list li:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.center_list li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.center_list li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.center_list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden; }
  @media (min-width: 35em) {
    .center_list li {
      margin-top: 30px;
      margin-bottom: 30px; } }
  @media (min-width: 1080px) {
    .center_list li {
      width: 30%;
      flex-direction: column; } }

.shield {
  height: 140px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-width: 100px;
  width: 25%;
  margin-right: 20px;
  flex-grow: 2; }
  @media (min-width: 1080px) {
    .shield {
      width: 100%;
      margin-right: 0px; } }

.hasButton .shield {
  display: none; }
  @media (min-width: 50em) {
    .hasButton .shield {
      display: block; } }

.shieldDesc {
  width: 75%;
  text-align: left; }
  @media (min-width: 1080px) {
    .shieldDesc {
      text-align: center;
      width: 100%; } }

.hasButton .shieldDesc {
  padding-right: 20px; }

.shieldCTA {
  width: 30%; }
  @media (min-width: 1080px) {
    .shieldCTA {
      width: auto; } }

.shieldCTA a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0px; }
  @media (min-width: 1080px) {
    .shieldCTA a {
      position: inherit;
      transform: none;
      top: inherit;
      margin-top: 25px; } }

.shieldCTA a:before {
  display: none; }
  @media (min-width: 35em) {
    .shieldCTA a:before {
      display: inline-block; } }

.grey_list .shield {
  background-image: url("/images/uneditable/grey_shield.png"); }

.blue_list .shield {
  background-image: url("/images/uneditable/blue_shield.png"); }

/* --------------- LIST ITEM, NAME, DESCRIPTION ---------------*/
.list_item {
  text-align: center; }

.list_item strong {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding-top: 5px; }
  @media (min-width: 1080px) {
    .list_item strong {
      margin: 10px 0px 10px 0px; } }

.list_item span {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: left;
  font-weight: 300; }

/* --------------- PTA ---------------*/
.vimeo {
  width: 100%;
  height: 200px;
  margin-top: -20px; }
  @media (min-width: 35em) {
    .vimeo {
      height: 300px; } }
  @media (min-width: 50em) {
    .vimeo {
      height: 400px; } }

.ptamission {
  display: inline-block;
  border-bottom: none;
  text-align: center;
  width: 100%;
  font-size: 80%; }

.ptamission:hover {
  border-bottom: none;
  color: #00295C; }

/* --------------- VOLUNTEER WAYS ---------------*/
.ways p {
  text-align: center; }

/* --------------- CUSTOM ICONS ---------------*/
.shield::before {
  display: inline-block;
  vertical-align: middle;
  line-height: 175px; }

.teacher::before {
  content: url("/images/icons/icon_teacher.png"); }

.piggy::before {
  content: url("/images/icons/icon_piggy.png"); }

.programming::before {
  content: url("/images/icons/icon_graduate.png"); }

.graduate::before {
  content: url("/images/icons/icon_whitecap.png"); }

.sustain::before {
  content: url("/images/icons/icon_sustain.png"); }

.community::before {
  content: url("/images/icons/icon_community.png"); }

.megaphone::before {
  content: url("/images/icons/icon_megaphone.png"); }

.school::before {
  content: url("/images/icons/icon_school.png"); }

.network::before {
  content: url("/images/icons/icon_network.png"); }

.tools::before {
  content: url("/images/icons/icon_tools.png"); }

.half_half {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1080px) {
    .half_half {
      flex-direction: row;
      align-items: stretch;
      display: flex; } }

.half_half .wrapper {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 50px 30px; }
  @media (min-width: 35em) {
    .half_half .wrapper {
      padding: 75px; } }
  @media (min-width: 1080px) {
    .half_half .wrapper {
      text-align: left;
      width: 70%;
      margin: auto auto;
      padding: 150px 100px; } }
  @media (min-width: 1080px) {
    .half_half .wrapper {
      top: 50%;
      transform: translateY(-50%); } }

.wrapper p {
  text-align: left; }

.half_half .leftHalfContainer {
  background-color: #FAFAFA;
  width: 100%;
  display: flex; }
  @media (min-width: 1080px) {
    .half_half .leftHalfContainer {
      background-position: top right;
      width: 50%; } }

.half_half .rightHalfContainer {
  width: 100%;
  display: flex; }
  @media (min-width: 1080px) {
    .half_half .rightHalfContainer {
      width: 50%;
      height: auto;
      max-width: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }

.halfImage {
  width: 100%;
  height: 100%;
  border-radius: 4px; }

.half_half strong {
  color: #A4A4A4;
  display: block;
  margin: 10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900; }

.half_half.right .rightHalfContainer {
  order: 1;
  margin-right: 3px !important; }

.half_half.right .leftHalfContainer {
  order: 2;
  margin-right: 0px !important; }

.schoolgrade .rightHalfContainer {
  background-size: contain;
  background-color: #D1E5FB; }

.intouch .grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%; }

.intouch .grid_item {
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1px;
  height: 33%;
  width: 33%; }

.grid1 {
  background-image: url("/images/uneditable/grid1.jpg"); }

.grid2 {
  background-image: url("/images/uneditable/grid2.jpg"); }

.grid3 {
  background-image: url("/images/uneditable/grid3.jpg"); }

.grid4 {
  background-image: url("/images/uneditable/grid4.jpg"); }

.grid5 {
  background-image: url("/images/uneditable/grid5.jpg"); }

.grid6 {
  background-image: url("/images/uneditable/grid6.jpg"); }

.grid7 {
  background-image: url("/images/uneditable/grid7.jpg"); }

.grid8 {
  background-image: url("/images/uneditable/grid8.jpg"); }

.grid9 {
  background-image: url("/images/uneditable/grid9.jpg"); }

#map {
  width: 100%;
  height: 400px; }
  @media (min-width: 1080px) {
    #map {
      height: auto; } }

.faqlist {
  background-color: #A4A4A4;
  background-image: url("/images/uneditable/placeholder.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0px; }

.faqlist ul {
  margin-top: 50px; }
  @media (min-width: 35em) {
    .faqlist ul {
      margin-top: inherit; } }

.faqlist li {
  box-sizing: border-box;
  background-color: #fff;
  padding: 2% 4%;
  border-radius: 4px; }
  @media (min-width: 35em) {
    .faqlist li {
      padding: 30px 4%; } }
  @media (min-width: 1080px) {
    .faqlist li {
      padding: 50px 4%; } }

.faqlist h3 {
  display: none; }
  @media (min-width: 1080px) {
    .faqlist h3 {
      display: block; } }

.faq a.question {
  color: #fff;
  display: block;
  margin: 10px 0px -20px 0px;
  padding: 20px 50px 20px 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-weight: 400;
  font-size: 100%;
  background-color: #00295C;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  border: none !important; }
  @media (min-width: 50em) {
    .faq a.question {
      margin: 35px 0px -20px 0px;
      padding: 20px 100px 20px 25px; } }

.question:hover {
  opacity: 0.9;
  border: none !important; }

.alt.faq a.question {
  background-color: #D1E5FB;
  color: #00295C; }

.faq .answer li {
  background-color: transparent !important;
  text-align: left;
  font-family: 'Open Sans';
  margin: 0px 0px 0px 30px; }
  @media (min-width: 50em) {
    .faq .answer li {
      margin: 0px 0px 0px 50px; } }

.faq .answer ul {
  width: 100% !important;
  list-style: square;
  font-size: 100%; }
  @media (min-width: 50em) {
    .faq .answer ul {
      width: 80% !important; } }

.arrow-down::after {
  content: '\25bc';
  padding-left: 0.5em;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff; }

.arrow-right::after {
  content: '\25ba';
  padding-left: 0.5em;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #3C70AC; }

.alt .arrow-down::after {
  color: #00295C !important; }

.alt h3 {
  color: #fff; }

.alt .answer {
  color: #fff;
  margin-top: 50px; }

.faq .toc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.faq ul {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
  width: 50% !important;
  padding-left: 0px;
  text-align: left; }

.faq li {
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: #FAFAFA;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

.hide {
  display: none; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: initial;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }
