/*----------------------- Misc ------------------------------ */

$maxWidth: 1200px;
$borderRadius: 5px;
$moduleMargin: 150px;

/*----------------------- Colors ------------------------------ */

$white: #fff;
$black: #000;
$blueGreen: #3FB08A;
$lightGrey: #FAFAFA;
$grey: #A4A4A4;
$darkBlue: #00295C;
$blue: #3C70AC;
$lightBlue: #D1E5FB;

/*----------------------- Backgrounds ------------------------------ */

.blueGreen {
	background-color: $blueGreen;
}

.blue {
	background-color: $blue;
}


