/*----------------------- Misc ------------------------------ */

$maxWidth: 1200px;
$borderRadius: 4px;
$moduleMargin: 150px;
$mobileModuleMargin: 30px;

/*----------------------- Colors ------------------------------ */

$white: #fff;
$black: #000;
$blueGreen: #3FB08A;
$lightGrey: #FAFAFA;
$grey: #A4A4A4;
$darkBlue: #00295C;
$blue: #3C70AC;
$lightBlue: #D1E5FB;
$purple: #6566B5;
$red: #C51E20;

/*----------------------- Font Color ------------------------------ */

.white-font {
	color: $white;
}

/*----------------------- Backgrounds ------------------------------ */

.blueGreen {
	background-color: $blueGreen;
}

.blue {
	background-color: $blue;
}

.purple {
	background-color: $purple;
}

.red {
	background-color: $red;
}


