@import "mixins.scss";
@import "constants.scss";
@import "animations.scss";
@import "typography.scss";
@import "form.scss";
@import "layout.scss";

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}