html {

}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


.clear {
    @extend %clearfix;
}

/* -------------- DEBUG ------------- */

/* If you need to debug, uncomment this */

//* { outline: 1px solid red; }

/*body {
    border-top: 5px solid black;
    @include breakpoint(condensed-screen) {
        border-top: 5px solid yellow;
    }
    @include breakpoint(tablet-screen) {
        border-top: 5px solid orange;
    }
    @include breakpoint(normal-screen) {
        border-top: 5px solid red;
    }
    @include breakpoint(large-screen) {
        border-top: 5px solid blue;
    }
}

header {
    top: 5px !important;
}*/

/* -------------- CORE LAYOUT ------------- */


/* Every section is a module. By building around this class, margins and widths will be the same. */

.module {
    @extend %clearfix;
    width: 100%;
    margin: $mobileModuleMargin 0px;
    @include breakpoint(tablet-screen) {
        margin: $tabletModuleMargin 0px;
    }
    @include breakpoint(normal-screen) {
        margin: $moduleMargin 0px;
    }
    text-align: center;
    scroll-behavior: smooth;
}

.padded-module {
    margin: 0px !important;
    padding: $mobileModuleMargin 0px;
    @include breakpoint(tablet-screen) {
        padding: $tabletModuleMargin 0px;
    }
    @include breakpoint(normal-screen) {
        padding: $moduleMargin 0px;
    }
}

.no-margin {
    margin: 3px 0px !important;
}

.grey_module {
    background-color: $lightGrey;
}

.blue_module {
    background-color: $darkBlue;
}


/* While a module is 100% width, the container is max-width. It sits inside, centered, for modules that don't want full width. */

.container {
    max-width: $maxWidth;
    margin: 0px auto;
    padding: 0px 20px;
    @include breakpoint(condensed-screen) {
        padding: 0px 50px;
    }
    @include breakpoint(large-screen) {
        padding: 0px 75px;
    }
}

.copy {
    width: 100%;
}

/* -------------- IMAGES ------------- */

/// Used as a wrapper for browsers that don't support object-fit:cover;
div.image-container {
    width: 100%;
    height: 100%;
    &.compat-object-fit {
        background-size: cover;
        background-position: center center;
        .coreImage { // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
            visibility: hidden;
        }
    }
}

.coreImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;

    @include transition(all 0.3s);
}

.coreImage.triggeredCSS3 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    visibility: visible;
}

figure {
    width: 100%;
    margin: 1.5rem 0px 0px 0px;
    @include transition(all 1s);
    padding-top: 25px;

    /* Wrap the text around the image. */
    @include breakpoint(condensed-screen) {
        padding-top: 0px;
        max-width: 45%;
    }

    /* Image is now same height as text and should sit next to the text. Offset top margin to bring about the header. */
    @include breakpoint(normal-screen) {
        margin-top: 0px;
    }
}

figure.triggeredCSS3 {
    padding-top: 0px;
    @include breakpoint(normal-screen) {
        margin-top: -75px;
    }
}

figcaption {
    font-style: italic;
    @include altProseStack();
    color: $darkGrey;
    font-size: 80%;
    margin-top: 10px;
    display: none;
    @include breakpoint(condensed-screen) {
        display: block;
    }
}

picture {
    max-width: 100%;
}


/* -------------- THIRDS MODULE ------------- */

.thirdContainer {
    width: 33%;
    border-radius: $borderRadius;
}

.twoThirdContainer {
    width: 67%;
    border-radius: $borderRadius;
}


/* -------------- HALVES MODULE ------------- */

.leftHalfContainer {
    width: 50%;
    margin-right: 3px;
    border-radius: $borderRadius;
}

.rightHalfContainer {
    width: 50%;
    border-radius: $borderRadius;
}

/* -------------- HEADERS ---------------- */

h3:before {
    content: "";
    background: $lightBlue;
    position: absolute;
    top: 0;
    height: 3px;
    width: 150px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

h3.triggeredCSS3:before {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.right h3 {
    text-align: center;
    @include breakpoint(condensed-screen) {
        text-align: right;
    }
}

.right h3:before {
    left: 50%;
    margin-left: -75px;

    @include breakpoint(condensed-screen) {
        right: 0;
        margin-left: 0px;
        left: inherit;
    }
}

.left h3 {
    text-align: center;
    @include breakpoint(condensed-screen) {
        text-align: left;
    }
}

.left h3:before {
    left: 50%;
    margin-left: -75px;
    @include breakpoint(condensed-screen) {
        left: 0;
        margin-left: 0px;
    }
}

.center h3 {
    text-align: center;
}

.center h3:before {
    left: 50%;
    margin-left: -75px;
}

.subtitle {
    color: $grey;
    display: block;
    margin: 10px 0;
    @include boldFontStack();
}

.right .subtitle {
    text-align: center;
    @include breakpoint(condensed-screen) {
        text-align: right;
    }
}

/*----------MAPKIT------------*/

.mk-map-view>* {
    left: 0;
}

.mk-zoom-controls .mk-icon {
    left: 0;
}


/*----------------------- LINKS ------------------------------ */

section a {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid $blue;
}

.blue_module a,
.blue_list a {
    color: $lightBlue;
    border-bottom: 1px solid $lightBlue;
}

section a:hover {
    border-bottom: 1px dashed $blue;
}

.blue_module a:hover,
.blue_list a:hover {
    border-bottom: 1px dashed $lightBlue;
}

.blue_list .button:hover {
    background-color: $lightBlue;
}

a.button {
    color: $white;
    @include boldFontStack();
    font-size: 80%;
    text-decoration: none;
    padding: 10px 12px 6px 12px;
    margin: 25px 0px;
    border-radius: $borderRadius;
    border: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    @include transition(all 0.3s);
    overflow: hidden;
    z-index: 1;

    @include breakpoint(normal-screen) {
        font-size: 90%;
        padding: 15px 20px;
    }
}

.button:hover {
    background-color: $darkBlue;
    border: none !important;
}

.right a.button {
    @include breakpoint(condensed-screen) {
        float: right;
    }
}

.left a.button {
    @include breakpoint(condensed-screen) {
        float: left;
    }
}

.button::before {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-right: 10px;

    @include breakpoint(condensed-screen) {
        margin-right: 15px;
    }
}

.button.triggerMe::before {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-transform-style: preserve-3d;
}

.button.triggeredCSS3::before {
    -webkit-animation-name: jackInTheBox;
    animation-name: jackInTheBox;
    visibility: visible;
}

.button.heart::before {
    content: url("/images/icons/icon_heart.png");
}

.button.castle::before {
    content: url("/images/icons/icon_castle.png");
}

.button.hand::before {
    content: url("/images/icons/icon_hand.png");
}

.button.explore::before {
    content: url("/images/icons/icon_explore.png");
}

.button.lend::before {
    content: url("/images/icons/icon_lend.png");
}

.button.roller::before {
    content: url("/images/icons/icon_roller.png");
}

.button.faq::before {
    content: url("/images/icons/icon_faq.png");
}

.button.mail::before {
    content: url("/images/icons/icon_mail.png");
}

.button.more::before {
    content: url("/images/icons/icon_more.png");
}


/* --------  404 Page -------- */

body.fouroh {
    background-color: $darkBlue;
}