

/* -------------- CORE LAYOUT ------------- */

/* Every section is a module. By building around this class, margins and widths will be the same. */
.module {
    @extend %clearfix;
    width: 100%; 
    margin: $mobileModuleMargin 0px;
    @include breakpoint(normal-screen) {
        margin: $moduleMargin 0px;
    }
    text-align: center;
}

.padded-module {
    margin: 0px !important;
    padding: $mobileModuleMargin 0px;
    @include breakpoint(normal-screen) {
        padding: $moduleMargin 0px;
    }
}

.no-padding {

}

.no-margin {
    margin: 3px 0px !important;
}

.grey_module {
    background-color: $lightGrey;
}

/* While a module is 100% width, the container is max-width. It sits inside, centered, to k=for modules that don't want full width. */
.container {
    max-width: $maxWidth;
    margin: 0px auto;
    padding: 0px 20px;
    @include breakpoint(condensed-screen) {
        padding: 0px 50px;
    }
    @include breakpoint(large-screen) {
        // figure out how to layout left_text and right_tex the best here
    }
}

/* On mobile, the image should sit on top of the text. */
.coreImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius;
}

figure {
    width: 100%;
    margin: 1.5rem 0px 0px 0px;

    /* Wrap the text around the image. */
    @include breakpoint(condensed-screen) {
        width: 45%;
    }

    /* Image is now same height as text and should sit next to the text. Offset top margin to bring about the header. */
    @include breakpoint(normal-screen) {
        margin-top: -75px;
    }
}

figcaption {
    font-style: italic;
    @include altProseStack();
    color: $darkGrey;
    font-size: 80%;
    margin-top: 10px;
}

/* -------------- THIRDS MODULE ------------- */

.thirdContainer {
    width: 33%;
    border-radius: $borderRadius;
}

.twoThirdContainer {
    width: 67%;
    border-radius: $borderRadius;
}

/* -------------- HALVES MODULE ------------- */

.leftHalfContainer {
    width: 50%;
    margin-right: 3px;
    border-radius: $borderRadius;
}

.rightHalfContainer {
    width: 50%;
    border-radius: $borderRadius;
}

/* -------------- UNVERIFIED ---------------- */


h3:before {
  content:""; 
  background: $lightBlue; 
  position: absolute; 
  top: 0; 
  height: 3px; 
  width: 150px;
}

.right h3 {
    text-align: center;
    @include breakpoint(condensed-screen) {
         text-align: right;
    }
}

.right h3:before {
    left: 50%;
    margin-left: -75px;
    @include breakpoint(condensed-screen) {
        right: 0;
        margin-left: 0px;
        left: inherit;
    }
}

.left h3 {
    text-align: center;
    @include breakpoint(condensed-screen) {
         text-align: left;
    }
}

.left h3:before {
    left: 50%;
    margin-left: -75px;
    @include breakpoint(condensed-screen) {
        left: 0;
        margin-left: 0px;
    }
}

.carousel h3, .footer h3 {
    color: $white;
}

.center h3 {
    text-align: center;
}

.center h3:before {
    left: 50%;
    margin-left: -75px;
}

.subtitle {
    color: $grey;
    display: block;
    margin: 10px 0;
    @include boldFontStack();
}

.right .subtitle {
    text-align: center;
    @include breakpoint(condensed-screen) {
         text-align: right;
    }
}

.copy {
    width: 100%;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
            box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
}

.clear {
    @extend %clearfix;
}

/*----------MAPKIT------------*/

.mk-map-view>* {
    left: 0;
}

.mk-zoom-controls .mk-icon {
    left: 0;
}

/*----------------------- LINKS ------------------------------ */

a.button {
    color: $white;
    @include boldFontStack();
    font-size: 80%;
    text-decoration: none;
    padding: 10px 12px 6px 12px;
    margin: 25px 0px;
    border-radius: $borderRadius;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    @include transition(all 0.3s);
    overflow: hidden;
    z-index: 1;

    @include breakpoint(condensed-screen) {
        font-size: 90%;
        padding: 15px 20px;

    }
    @include breakpoint(normal-screen) {
        padding: 15px 20px;
    }
}

/*a.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    width: 200px;
    height: 0;
    top: 50%;
    left: 50%;
    background: $darkBlue;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.button:hover:after {
    height: 800%;
    opacity: 1;
}

.button:active:after {
    height: 50%;
    opacity: 1;
}*/

.button:hover {
    background-color: $darkBlue;
}

.right a.button {
    @include breakpoint(condensed-screen) {
        float: right;
    }
}

.left a.button {
    @include breakpoint(condensed-screen) {
        float: left;
    }
}

.button::before {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-right: 10px;
     @include breakpoint(condensed-screen) {
        margin-right: 15px;

    }
}

.button.heart::before {
    content: url("/images/icons/icon_heart.png");
}

.button.castle::before {
    content: url("/images/icons/icon_castle.png");
}

.button.hand::before {
    content: url("/images/icons/icon_hand.png");
}

.button.explore::before {
    content: url("/images/icons/icon_explore.png");
}

.button.lend::before {
    content: url("/images/icons/icon_lend.png");
}

.button.roller::before {
    content: url("/images/icons/icon_roller.png");
}

.button.faq::before {
    content: url("/images/icons/icon_faq.png");
}

.button.mail::before {
    content: url("/images/icons/icon_mail.png");
}

.button.more::before {
    content: url("/images/icons/icon_more.png");
}



